@if (organisation != null) {
  <main class="container my-4">
    <header class="mb-4 text-center py-3">
      <h1>{{ organisation?.name }} - Membership Directory</h1>
    </header>
    <section>
      @if ((memberships$ | async); as memberships) {
        <section class="directory-list">
          <div class="row">
            @for (membership of memberships$ | async; track membership) {
              <div class="col-3">
                <div class="card">
                  <div class="d-flex justify-content-center w-100 pb-2 pt-4">
                    <ngx-avatars [src]="membership?.member?.image()" class="avatar" [size]="150" [name]="membership?.name()"></ngx-avatars>
                  </div>
                  <div class="card-body p-2 pb-3 text-center">
                    <p class="name">{{ membership.member.lastThenFirstName() }}</p>
                    <p class="category">{{ membership.category?.name }}</p>
                    <p class="membership_no">Membership #: {{ membership.organisation_no }}</p>
                  </div>
                </div>
              </div>
            }
          </div>
          <footer class="py-4">
            <app-pagination [service]="membershipService" (paginate)="onPaginate($event)"></app-pagination>
          </footer>
        </section>
      } @else {
        <h1 class="text-center text-primary">
          <i class="fa fa-circle-o-notch fa-spin"></i> Loading
        </h1>
      }
    </section>
  </main>
}
