<div>
  <select *ngIf="config?.type == 'select'" class="form-control digits" [(ngModel)]="value">
    <option value="">{{ 'Select Option' | translate }}</option>
    <option *ngFor="let option of config.options" [value]="option.value">{{ option.label }}</option>
  </select>

  <input *ngIf="config?.type == 'text'" type="text" class="form-control" [(ngModel)]="value" [placeholder]="config?.placeholder" />
  <input *ngIf="config?.type == 'time'" type="time" class="form-control" [(ngModel)]="value" />
  <input *ngIf="config?.type == 'date'" type="date" class="form-control" [(ngModel)]="value" />
</div>
