<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-xl-3">
      <div class="card">

        <div class="card-body">
          <button class="btn btn-primary btn-block m-b-5" (click)="showComposer()">
            <i class="fa fa-envelope"></i> {{'New Broadcast' | translate}}
          </button>

          <hr size=1 />

          <ul class="list-group list-group-flush">

            <a href="#" class="list-group-item" (click)="showHistory(); $event.preventDefault()">
              <i class="fa fa-envelope"></i>
              <span>{{'Broadcast History' | translate}}</span>
            </a>

          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-xl-9">
      <app-message-composer *ngIf="view == 'composer'" (cancel)="showHistory()"></app-message-composer>
      <app-broadcast-history-view *ngIf="view == 'history'"></app-broadcast-history-view>
    </div>
  </div>
</div>
