<app-feather-icons [icon]="'bell'"></app-feather-icons>
@if (unreadNotifications.length > 0) {
  <span class="dot"></span>
}

<ul class="notification-dropdown onhover-show-div">
  <li>
    {{ "Notification" | translate }}
    <span class="badge badge-pill badge-primary ms-1">{{ unreadNotifications.length }}</span>
    <a href="javascript:;" class="text-primary pull-right" (click)="markAllRead($event)">
      <span class="f-12">{{ "Clear All" | translate }}</span>
    </a>
  </li>
  @if (unreadNotifications.length == 0) {
    <li class="text-center">
      <app-feather-icons [icon]="'bell'"></app-feather-icons> <br />
      {{ "No new notifications" | translate }}
    </li>
  }
  @for (notification of unreadNotifications; track notification; let row = $index) {
    <li>
      <div class="d-flex">
        <div class="flex-grow-1" (click)="onNotificationClicked(notification)">
          <h6 class="mt-0">
            <span>
              <!-- <app-feather-icons class="shopping-color" [icon]="'shopping-bag'"></app-feather-icons> -->
            </span>
            {{ notification.title }}
            <small class="pull-right">{{ notification.timeAgo() }}</small>
          </h6>
          <p class="m-0">{{ notification.message }}</p>
        </div>
      </div>
    </li>
  }
  <li class="bg-light txt-dark text-center">
    <a [routerLink]="['/portal/notifications']">{{ "All" | translate }}</a> {{ "notifications" | translate }}
  </li>
</ul>
