

    <!-- Container-fluid starts-->
    <div class="container-fluid">

      <div class="text-center p-30 w-100">
        <h2 class="font-weight-bold">Pricing Plans</h2>

        <p class="f-18">
          Pick the plan that is best for your growing organizations
        </p>
      </div>

      <div class="row">

        <div class="col-sm-12">
          <div class="card bg-transparent">

            <div class="card-body pricing-card-design-1 bg-transparent">
              <div class="row pricing-content">
                <div class="col-md-4">
                  <div class="pricing-block card text-center">
                    <svg x="0" y="0" viewBox="0 0 360 220">
                      <g>
                        <path fill="#4466f2"
                              d="M0.732,193.75c0,0,29.706,28.572,43.736-4.512c12.976-30.599,37.005-27.589,44.983-7.061                                          c8.09,20.815,22.83,41.034,48.324,27.781c21.875-11.372,46.499,4.066,49.155,5.591c6.242,3.586,28.729,7.626,38.246-14.243                                          s27.202-37.185,46.917-8.488c19.715,28.693,38.687,13.116,46.502,4.832c7.817-8.282,27.386-15.906,41.405,6.294V0H0.48                                          L0.732,193.75z">
                        </path>
                      </g>
                      <text transform="matrix(0.9566 0 0 1 75 83.9121)" fill="#fff" font-size="29.0829">GHS</text>
                      <text transform="matrix(1 0 0 1 145 116.2686)" fill="#fff" font-size="70.4489">69</text>
                      <text transform="matrix(0.9566 0 0 1 225 83.9121)" fill="#fff" font-size="29.0829">.99</text>
                      <text transform="matrix(1 0 0 1 233.9629 115.5303)" fill="#fff" font-size="15.4128">/Month</text>
                    </svg>
                    <div class="pricing-inner">
                      <h3 class="font-primary">Basic</h3>
                      <ul class="pricing-inner">
                        <li>
                          <h6><b>Unlimited</b> Member Contacts</h6>
                        </li>
                        <li>
                          <h6><b>100</b> FREE SMS per month</h6>
                        </li>
                        <li>
                          <h6><b>10</b> Admin Accounts</h6>
                        </li>
                        <li>
                          <h6>Membership Management</h6>
                        </li>
                        <li>
                          <h6>SMS Messaging Portal</h6>
                        </li>
                        <li>
                          <h6>Events Management</h6>
                        </li>
                        <li>
                          <h6>Attendance Tracking</h6>
                        </li>
                      </ul>
                      <button class="btn btn-primary btn-lg" type="button" data-original-title="btn btn-primary btn-lg"
                              title="" routerLink="/auth/register">Sign Up</button>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="pricing-block card text-center bg-primary pricing-active">
                    <svg x="0" y="0" viewBox="0 0 360 220">
                      <g>
                        <path fill="#3a55c5"
                              d="M0.732,193.75c0,0,29.706,28.572,43.736-4.512c12.976-30.599,37.005-27.589,44.983-7.061                                          c8.09,20.815,22.83,41.034,48.324,27.781c21.875-11.372,46.499,4.066,49.155,5.591c6.242,3.586,28.729,7.626,38.246-14.243                                          s27.202-37.185,46.917-8.488c19.715,28.693,38.687,13.116,46.502,4.832c7.817-8.282,27.386-15.906,41.405,6.294V0H0.48                                          L0.732,193.75z">
                        </path>
                      </g>
                      <text transform="matrix(0.9566 0 0 1 60 83.9121)" fill="#fff" font-size="29.0829">GHS</text>
                      <text transform="matrix(1 0 0 1 120 116.2686)" fill="#fff" font-size="70.4489">169</text>
                      <text transform="matrix(0.9566 0 0 1 240 83.9121)" fill="#fff" font-size="29.0829">.99</text>
                      <text transform="matrix(1 0 0 1 250 115.5303)" fill="#fff" font-size="15.4128">/Month</text>
                    </svg>
                    <div class="pricing-inner">
                      <h3>Pro</h3>
                      <ul class="pricing-inner">
                        <li>
                          <h6><b>Unlimited</b> Member Contacts</h6>
                        </li>
                        <li>
                          <h6><b>250</b> FREE SMS per month</h6>
                        </li>
                        <li>
                          <h6><b>Unlimited</b> Admin Accounts</h6>
                        </li>
                        <li>
                          <h6>Membership Management</h6>
                        </li>
                        <li>
                          <h6>SMS Messaging Portal</h6>
                        </li>
                        <li>
                          <h6>Events Management</h6>
                        </li>
                        <li>
                          <h6>Attendance Tracking</h6>
                        </li>
                        <li>
                          <h6>Revenue Tracking</h6>
                        </li>
                      </ul>
                      <button class="btn btn-primary btn-lg" type="button" data-original-title="btn btn-primary btn-lg"
                              title="" routerLink="/auth/register">Sign Up</button>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="pricing-block card text-center">
                    <svg x="0" y="0" viewBox="0 0 360 220">
                      <g>
                        <path fill="#4466f2"
                              d="M0.732,193.75c0,0,29.706,28.572,43.736-4.512c12.976-30.599,37.005-27.589,44.983-7.061                                          c8.09,20.815,22.83,41.034,48.324,27.781c21.875-11.372,46.499,4.066,49.155,5.591c6.242,3.586,28.729,7.626,38.246-14.243                                          s27.202-37.185,46.917-8.488c19.715,28.693,38.687,13.116,46.502,4.832c7.817-8.282,27.386-15.906,41.405,6.294V0H0.48                                          L0.732,193.75z">
                        </path>
                      </g>
                      <text transform="matrix(0.9566 0 0 1 90 83.9121)" fill="#fff" font-size="29.0829">GHS</text>
                      <text transform="matrix(1 0 0 1 160 116.2686)" fill="#fff" font-size="78.4489">0</text>
                      <text transform="matrix(0.9566 0 0 1 207.3096 83.9121)" fill="#fff" font-size="29.0829">.00</text>
                      <text transform="matrix(1 0 0 1 233.9629 115.5303)" fill="#fff" font-size="15.4128">/Month</text>
                    </svg>
                    <div class="pricing-inner">
                      <h3 class="font-primary">Free</h3>
                      <ul class="pricing-inner">
                        <li>
                          <h6><b>250</b> Member Contacts</h6>
                        </li>
                        <li>
                          <h6><b>15</b> FREE SMS on sign up</h6>
                        </li>
                        <li>
                          <h6><b>10</b> Admin Accounts</h6>
                        </li>
                        <li>
                          <h6>Membership Management</h6>
                        </li>
                        <li>
                          <h6>SMS Messaging Portal</h6>
                        </li>
                        <li>
                          <h6>Events Management</h6>
                        </li>
                        <li>
                          <h6>Attendance Tracking</h6>
                        </li>
                      </ul>
                      <button class="btn btn-primary btn-lg" type="button" data-original-title="btn btn-primary btn-lg"
                              title="" routerLink="/auth/register">Sign Up</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <!-- Container-fluid Ends-->
