<div class="card">
  <div class="card-header">

  </div>
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th class="text-center">Permissions</th>
        <th class="text-center">Accounts</th>
        <th class="text-center">Actions</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let role of roles; let row = index">
        <td>
          <div>{{ row + 1 }}. {{ role.name }}</div>
          <div class="text-muted small p-l-15">{{ role.description }}</div>
        </td>
        <td class="text-center">
          {{ role.permissions_count }}
        </td>
        <td class="text-center">
          {{ role.organisation_account_count }}
        </td>
        <td class="text-center">
          <button class="btn btn-xs btn-primary m-r-5" (click)="viewPermissions(role)">
            <i class="fa fa-lock fa-fw"></i> Permissions
          </button>

          <button class="btn btn-xs btn-info m-r-5">
            <i class="fa fa-pencil fa-fw"></i> Edit
          </button>

          <button class="btn btn-xs btn-danger">
            <i class="fa fa-trash-o fa-fw"></i> Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>

</div>

<app-permissions #permissions [role]="selectedRole"></app-permissions>