<ng-template #cropperModal let-modal>
  <div class="modal-header d-block w-100">
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="modal-basic-title">
      <i class="fa fa-image"></i> {{ 'Crop Image' | translate }}
    </h4>
    <p class="m-b-0">
      {{ 'Select image from file system to crop and upload' | translate }}
    </p>
  </div>
  <div class="modal-body">
    <div *ngIf="imageChangedEvent">
      <div class="row m-b-30 border-bottom-light border-bottom p-b-5">
        <div class="col-12 text-center">
          <label for="image-file-picker" class="btn btn-primary btn-pill">
            <span><i class="fa fa-upload"></i> {{ 'Change Image' | translate }}</span>
            <input type="file" name="image" id="image-file-picker" (change)="fileChangeEvent($event)" style="opacity: 0; position: absolute;" />
          </label>
        </div>
      </div>

      <div class="row">
        <div class="text-center col-md-6">
          <h5>{{ 'Crop Image' | translate }}</h5>
          <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="4 / 4"
                         [resizeToWidth]="500" format="png" (imageCropped)="imageCropped($event)"
                         (imageLoaded)="imageLoaded()" (cropperReady)="cropperReady()"
                         (loadImageFailed)="loadImageFailed()"></image-cropper>
        </div>
        <div class="text-center col-md-6">
          <h5>{{ 'Preview' | translate }}</h5>
          <img [src]="croppedImage" style="max-width: 300px; padding-top: 30px;" />
        </div>
      </div>
    </div>

    <div *ngIf="!imageChangedEvent" class="text-center d-flex align-items-center justify-content-center">
      <div>
        <img src="/assets/images/icons/circle-picture.svg" class="m-t-30 m-b-30" /> <br />
        <h5 class="font-weight-bold">{{ 'Select Image To Upload' | translate }}</h5>
        <label for="image-file-picker-alt" class="btn btn-lg btn-primary btn-pill">
          <span><i class="fa fa-upload"></i> {{ 'Select File' | translate }}</span>
          <input type="file" name="image" id="image-file-picker-alt" (change)="fileChangeEvent($event)" style="opacity: 0; position: absolute;" />
        </label>

      </div>
    </div>
  </div>
  <div class="modal-footer d-block w-100 text-right">
    <button *ngIf="imageChangedEvent" type="submit" class="btn btn-primary"
            (click)="saveImage()">{{ 'Upload' | translate }}</button>
    <button type="button" class="btn btn-outline-danger"
            (click)="modal.close('Save click')">{{ 'Cancel' | translate }}</button>
  </div>
</ng-template>
