<div class="row">
  <div class="col-sm-4">
    <app-group-types (selectGroupType)="setSelectedGroupType($event)"></app-group-types>
  </div>

  <div class="col-sm-8">
    @if (!selectedGroup) {
      <app-groups
        [groupType]="selectedGroupType"
        (viewGroupMembers)="setSelectedGroup($event)"
      ></app-groups>
    }

    @if (selectedGroup) {
      <app-group-members
        [group]="selectedGroup"
        (back)="setSelectedGroup(null)"
      ></app-group-members>
    }

  </div>
</div>
