<div class="row">
  <div class="col-sm-12">
    <app-view-birthdays></app-view-birthdays>
  </div>

  <!-- <div class="col-sm">
    <div class="row">
      <div class="col">
        <app-configure-automated-messages></app-configure-automated-messages>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header b-l-secondary">
            <div class="row">
              <div class="col">
                <h6 class="font-weight-bold">
                  {{ "Send Members SMS" | translate }}
                </h6>
              </div>
            </div>
          </div>
          <div class="card-body chart-block">
            <button
              class="btn btn-secondary btn-sm m-r-10"
              (click)="smsMessenger.show()"
            >
              <i class="fa fa-envelope"></i> {{ "Send Message" | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</div>

<app-sms-messenger #smsMessenger></app-sms-messenger>
