<div class="row">
    <div class="col-sm-7">
      <app-view-birthdays></app-view-birthdays>
    </div>
  
    <div class="col-sm">
      <div class="row">
          <div class="col">
              <app-configure-automated-messages></app-configure-automated-messages>
          </div>
      </div>

      <div class="row">
          <div class="col">
            <div class="card">
                <div class="card-header b-l-secondary">
                  <div class="row">
                    <div class="col">
                      <h6 class="font-weight-bold">Send Birthday SMS to Member</h6>
                    </div>
                    <!-- end of col -->
              
                    <div class="col-3">
                     
                    </div>
                    <!-- end of col -->
                  </div>
                  <!-- end of row -->
                </div>
                <div class="card-body chart-block">
                    <app-sms-messenger></app-sms-messenger>
                </div>
              </div>
              <!-- end of card -->
          </div>
      </div>
    </div>

  </div>