<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-md-6">
      </div>
      <div class="col-md-6 text-end">
        <button class="btn btn-primary btn-sm m-r-10" (click)="showSearchModal()">
          <i class="fa fa-search"></i> {{ 'Find User Activities' | translate }}
        </button>
      </div>
    </div>

  </div>

  @if (!userActivitiesService.requesting && !recordsPresent()) {
    <div class="m-t-50 text-center">
      <h3>{{ 'No Search Results Found' | translate }}</h3>
      <p>{{ 'Please search for user activities to display results here' | translate }}</p>
    </div>
  }

  @if (userActivitiesService.requesting) {
    <div class="loader-box m-auto">
      <span class="rotate dashed colored"></span>
    </div>
  }

  @if (recordsPresent()) {
    <table class="table table-bordered table-hover table-striped">
      <thead>
        <tr>
          <th>{{ 'No.' | translate }}</th>
          <th>{{ 'Created' | translate }}</th>
          <th>{{ 'Log Group' | translate }}</th>
          <th>{{ 'Causer' | translate }}</th>
          <th>{{ 'Description' | translate }}</th>
          <!-- <th class="text-center">Actions</th> -->
        </tr>
      </thead>
      <tbody>
        @for (activity of activities; track activity; let row = $index) {
          <tr>
            <td>{{ userActivitiesService.pagingMeta?.from + row }}</td>
            <td [noWrap]="true">{{ activity.timeAgo() }}</td>
            <td [noWrap]="true">{{ activity.log_display_name }}</td>
            <td [noWrap]="true">
              {{ activity.causer?.member?.name() }}
            </td>
            <td>{{ activity.description }}</td>
            <!-- <td class="text-center">
            <button class="btn btn-xs btn-primary m-r-5" (click)="viewAccount(account)">
              <i class="fa fa-file"></i> View
            </button>
            <button class="btn btn-xs btn-primary m-r-5" (click)="showEditor(account)">
              <i class="fa fa-pencil"></i> Edit
            </button>
            <button class="btn btn-xs btn-danger" (click)="deleteAccount(account)">
              <i class="fa fa-trash-o"></i> Remove
            </button>
          </td> -->
        </tr>
      }
    </tbody>
  </table>
}

<div class="card-footer">
  <app-pagination [service]="userActivitiesService" (paginate)="onPaginate($event)"></app-pagination>
</div>
</div>


<ng-template #searchModal let-modal>
  <form (submit)="onSearch($event)" class="form form-horizontal theme-form" [formGroup]="searchForm">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{'Find User Activities' | translate}}</h4>

      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">

      </button>
    </div>
    <div class="modal-body">

      <div class="form-group row">
        <label class="col-sm-4 col-form-label">{{'User' | translate}}</label>
        <div class="col-sm-8">
          <select class="form-select" formControlName="causer_id">
            <option value="">{{'Select User' | translate}}</option>
            @for (user of orgAccounts; track user) {
              <option [value]="user.member_account_id">{{ user.name }}</option>
            }
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-4 col-form-label">{{'Log Group' | translate}}</label>
        <div class="col-sm-8">
          <select class="form-select" formControlName="log_name">
            <option value="">{{'Select Log Group' | translate}}</option>
            @for (group of logGroups; track group) {
              <option [value]="group.log_name">{{ group.log_display_name | titlecase }}</option>
            }
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-4 col-form-label">{{'Added After/On' | translate}}</label>
        <div class="col-sm-8">
          <input type="date" class="form-control" placeholder="Start Date" title="Start Date" formControlName="created_at_gte" />
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-4 col-form-label">{{'Added Before/On' | translate}}</label>
        <div class="col-sm-8">
          <input type="date" class="form-control" placeholder="End Date" title="End Date" formControlName="created_at_lte" />
        </div>
      </div>

    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary">{{'Search' | translate}}</button>
      <button type="reset" class="btn btn-outline-info">{{'Clear' | translate}}</button>
      <button type="button" class="btn btn-outline-danger" (click)="modal.close('Save click')">{{'Cancel' | translate}}</button>
    </div>
  </form>
</ng-template>
