<!-- Container-fluid starts -->
<div class="container-fluid">
  <div class="row">
    <div class="col-xl-6 col-md-12">
      <app-finance-totals-by-category></app-finance-totals-by-category>
    </div>
    <div class="col-xl-6 col-md-12">
      <app-finance-trend></app-finance-trend>
    </div>
    <div class="col-xl-6 col-md-12">
      <app-finance-weekly-breakdown></app-finance-weekly-breakdown>
    </div>
    <div class="col-xl-6 col-md-12">
      <app-finance-category-breakdown></app-finance-category-breakdown>
    </div>
  </div>
</div>
<!-- Container-fluid Ends -->
