<!-- Container-fluid starts -->
<div class="container-fluid">
  <div class="row">
    <div class="col-xl-6 col-md-12">
      <div class="card">
        <div class="card-header b-l-primary">
          <div class="row">
            <div class="col-auto">
              <app-select-year-control></app-select-year-control>
            </div>
            <!-- end of col -->
            <div class="col">
              <h6 class="chart-title">Totals By Category</h6>
            </div>
            <!-- end of col -->
          </div>
          <!-- end of row -->
        </div>
        <div class="card-body chart-block">
          <app-finance-totals-by-category></app-finance-totals-by-category>
        </div>
      </div><!-- end of card -->
    </div>
    <div class="col-xl-6 col-md-12">
      <app-finance-trend></app-finance-trend>
    </div>
    <div class="col-xl-6 col-md-12">
      <app-finance-weekly-breakdown></app-finance-weekly-breakdown>
    </div>
    <div class="col-xl-6 col-md-12">
      <div class="card">
        <div class="card-header b-l-info">
          <div class="row">
            <div class="col-auto">
              <app-select-year-control></app-select-year-control>
            </div>
            <!-- end of col -->
            <div class="col-3">
              <app-select-month-control
                (selectedMonthEvent)="categoryBreakDownByMonth($event)"
              ></app-select-month-control>
            </div>
            <!-- end of col -->
            <div class="col">
              <h6 class="chart-title">Category Breakdown</h6>
            </div>
            <!-- end of col -->
          </div>
          <!-- end of row -->
        </div>
        <div class="card-body chart-block">
          <app-finance-category-breakdown></app-finance-category-breakdown>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Container-fluid Ends -->
