.subscription-required {
  p, li {
    font-size: 15px;
  }

  li {
    margin-bottom: 15px;
  }

  img {
    position: absolute;
    right: -120px;
    top: 0px;
    z-index: 0;
    opacity: 0.85;
    width: 50%;
  }
}
