<div class="card">
  <div class="card-header b-l-primary">
    <div class="row">
      <div class="col">
        <h5 class="chart-title">{{'Totals By Category' | translate}}</h5>
      </div>
      <!-- end of col -->
      <div class="col-auto">
        <app-select-year-control [(ngModel)]="yearValue" (selectedYearEvent)="searchByYear($event)">
        </app-select-year-control>
      </div>
      <!-- end of col -->

    </div>
    <!-- end of row -->
  </div>
  <div class="card-body chart-block">
    @if (!showChart) {
      <app-loading-rotate-dashed></app-loading-rotate-dashed>
    }
    @if (showChart && !hasDataAvailable()) {
      <app-no-data-available></app-no-data-available>
    }

    @if (showChart && hasDataAvailable()) {
      <canvas baseChart class="chart" [datasets]="chartData" [labels]="labels"
      [options]="barChartOptions" [legend]="true" [type]="barChartType" [colors]="barChartColors"></canvas>
    }
  </div>
</div>
<!-- end of card -->
