<div class="card">
  <div class="card-header b-l-success">
    <div class="row">
      <div class="col-auto">
        <app-select-year-control
          [(ngModel)]="yearValue"
          (selectedYearEvent)="searchByYear($event)"
        ></app-select-year-control>
      </div>
      <div class="col-3">
        <app-select-month-control
          [(ngModel)]="monthValue"
          (selectedMonthEvent)="searchByMonth($event)"
        ></app-select-month-control>
      </div>
      <!-- end of col -->
      <div class="col">
        <h6 class="chart-title">Weekly Breakdown</h6>
      </div>
      <!-- end of col -->
    </div>
    <!-- end of row -->
  </div>
  <div class="card-body chart-block">
    <div class="loader-box m-auto" *ngIf="!showChart">
      <span class="rotate dashed colored"></span>
    </div>
    <canvas
      *ngIf="showChart"
      baseChart
      class="chart"
      [datasets]="chartData"
      [labels]="labels"
      [options]="barChartOptions"
      [legend]="true"
      [chartType]="barChartType"
    ></canvas>
  </div>
</div>
<!-- end of card -->
