<div class="card">
  <div class="card-header b-l-success">
    <div class="row">
      <div class="col-auto">
        <app-select-year-control
          [(ngModel)]="yearValue"
          (selectedYearEvent)="searchByYear($event)"
        ></app-select-year-control>
      </div>
      <div class="col-3">
        <app-select-month-control
          [(ngModel)]="monthValue"
          (selectedMonthEvent)="searchByMonth($event)"
        ></app-select-month-control>
      </div>
      <!-- end of col -->
      <div class="col">
        <h6 class="chart-title">{{'Weekly Breakdown' | translate}}</h6>
      </div>
      <!-- end of col -->
    </div>
    <!-- end of row -->
  </div>
  <div class="card-body chart-block">
    <app-loading-rotate-dashed *ngIf="!showChart"></app-loading-rotate-dashed>
    <app-no-data-available
      *ngIf="showChart && !hasDataAvailable()"
    ></app-no-data-available>

    <canvas
      *ngIf="showChart && hasDataAvailable()"
      baseChart
      class="chart"
      [datasets]="chartData"
      [labels]="labels"
      [options]="barChartOptions"
      [legend]="true"
      [chartType]="barChartType"
    ></canvas>
  </div>
</div>
<!-- end of card -->
