<div class="page-wrapper">
  <div class="auth-bg">
    <div class="authentication-box">
      <div class="text-center">
        <a href="#" routerLink="/">
          <img src="assets/images/logo_500_dk_lc.png" alt="" width="250" />
        </a>
      </div>
      <div class="card mt-4">
        <div class="card-body">
          <div class="text-center">
            <h4>{{'Create Account' | translate}}</h4>
            <h6>{{'Enter Your Information For Signup' | translate}}.</h6>
          </div>
          <form class="theme-form" [formGroup]="registerForm" autocomplete="off">

            <!-- Name  -->
            <div class="form-group">
              <label class="col-form-label pt-0">{{'Name' | translate}}</label>
              <input class="form-control" formControlName="name" type="text" required placeholder="e.g. Joe Smith" autofocus />
              <div *ngIf="
                  registerForm.controls.name.touched &&
                  registerForm.controls.name.errors?.required
                " class="text text-danger mt-1">
                {{'Name Required' | translate}}
              </div>
              <div *ngIf="
                  registerForm.controls.name.touched &&
                  registerForm.controls.name.errors?.minlength
                " class="text text-danger mt-1">
                {{'Name must be at least 3 characters long' | translate}}.
              </div>
              <div *ngIf="
                  registerForm.controls.name.touched &&
                  registerForm.controls.name.errors?.maxlength
                " class="text text-danger mt-1">
                {{'Name must be at most 30 characters long' | translate}}.
              </div>
            </div>

            <!-- Email -->
            <div class="form-group">
              <label class="col-form-label pt-0">{{'Email' | translate}}</label>
              <input class="form-control" formControlName="email" type="email" required="" placeholder="e.g. you@example.com" autocomplete="off" />
              <div *ngIf="
                  registerForm.controls.email.touched &&
                  registerForm.controls.email.errors?.required
                " class="text text-danger mt-1">
                {{'Email Required' | translate}}
              </div>
              <div *ngIf="
                  registerForm.controls.email.touched &&
                  registerForm.controls.email.errors?.email
                " class="text text-danger mt-1">
                {{'Invalid Email' | translate}}
              </div>
            </div>

            <!-- Phone Number -->
            <div class="form-group">
              <label class="col-form-label pt-0 d-block">{{'Mobile Number' | translate}}</label>
              <ngx-intl-tel-input [preferredCountries]="preferredCountries" [enableAutoCountrySelect]="true"
                                  [enablePlaceholder]="true" [searchCountryFlag]="true"
                                  [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
                                  [selectFirstCountry]="true" [selectedCountryISO]="CountryISO.Ghana" [maxLength]="15"
                                  [phoneValidation]="true" [separateDialCode]="separateDialCode"
                                  [numberFormat]="PhoneNumberFormat.National" name="mobile_number"
                                  formControlName="mobile_number" autocomplete="off">
              </ngx-intl-tel-input>
              <div *ngIf="
                  registerForm.controls.mobile_number.touched &&
                  registerForm.controls.mobile_number.errors?.required
                " class="text text-danger mt-1">
                {{'Mobile Number Required' | translate}}
              </div>
              <div *ngIf="
                  registerForm.controls.mobile_number.touched &&
                  registerForm.controls.mobile_number.errors?.minlength
                " class="text text-danger mt-1">
                {{'Mobile Number must be at least 6 characters long' | translate}}.
              </div>
              <div *ngIf="
                  registerForm.controls.mobile_number.touched &&
                  registerForm.controls.mobile_number.errors?.maxlength
                " class="text text-danger mt-1">
                {{'Mobile Number must be at most 15 characters long' | translate}}
              </div>
              <div *ngIf="
                  registerForm.controls.mobile_number.touched &&
                  registerForm.controls.mobile_number.errors?.validatePhoneNumber
                " class="text text-danger mt-1">
                {{'Mobile Number Not Valid For Selected Country' | translate}}
              </div>
            </div><!-- end of form group -->

            <!-- Password -->
            <div class="form-group">
              <label class="d-flex justify-content-between">
                <div>{{'Password' | translate}}</div>
                <div title="Password must be min(8), mixed case(letters, numbers & symbols)" class="pr-2">
                  <i class="fa fa-info-circle text-primary"></i>
                </div>
              </label>
              <input class="form-control" type="password" formControlName="password" required="" placeholder="New Password" autocomplete="new-password" />
              <div *ngIf="
                  registerForm.controls.password.touched &&
                  registerForm.controls.password.errors?.required
                " class="text text-danger mt-1">
                {{ 'Password Required' | translate }}
              </div>
              <div *ngIf="
                  registerForm.controls.password.touched &&
                  registerForm.controls.password.errors?.pattern
                " class="text text-danger mt-1">
                {{ 'Password must be min(8), mixed case (letters, numbers & symbols)' | translate }}
              </div>
            </div>



            <!-- First Name -->
            <!-- <div class="form-group">
              <label class="col-form-label pt-0">{{'First Name' | translate}}</label>
              <input class="form-control" formControlName="first_name" type="text" required />
              <div *ngIf="
                  registerForm.controls.first_name.touched &&
                  registerForm.controls.first_name.errors?.required
                " class="text text-danger mt-1">
                {{'First Name Required' | translate}}
              </div>
              <div *ngIf="
                  registerForm.controls.first_name.touched &&
                  registerForm.controls.first_name.errors?.minlength
                " class="text text-danger mt-1">
                {{'First Name must be at least 3 characters long' | translate}}.
              </div>
              <div *ngIf="
                  registerForm.controls.first_name.touched &&
                  registerForm.controls.first_name.errors?.maxlength
                " class="text text-danger mt-1">
                {{'First Name must be at most 30 characters long' | translate}}.
              </div>
            </div> -->

            <!-- Last Name -->
            <!-- <div class="form-group">
              <label class="col-form-label pt-0">{{'Last Name' | translate}}</label>
              <input class="form-control" formControlName="last_name" type="text" required />
              <div *ngIf="
                  registerForm.controls.last_name.touched &&
                  registerForm.controls.last_name.errors?.required
                " class="text text-danger mt-1">
                {{'Last Name Required' | translate}}
              </div>
              <div *ngIf="
                  registerForm.controls.last_name.touched &&
                  registerForm.controls.last_name.errors?.minlength
                " class="text text-danger mt-1">
                {{'Last Name must be at least 3 characters long' | translate}}.
              </div>
              <div *ngIf="
                  registerForm.controls.last_name.touched &&
                  registerForm.controls.last_name.errors?.maxlength
                " class="text text-danger mt-1">
                {{'Last Name must be at most 30 characters long' | translate}}.
              </div>
            </div> -->



            <!-- Gender -->
            <!-- <div class="form-group">
              <label class="col-form-label pt-0">{{'Gender' | translate}}</label>
              <select class="form-select mb-1" formControlName="gender">
                <option value="">{{'Select Gender' | translate}}</option>
                <option value="male">{{'Male' | translate}}</option>
                <option value="female">{{'Female' | translate}}</option>
              </select>
              <div *ngIf="
                  registerForm.controls.gender.touched &&
                  registerForm.controls.gender.errors?.required
                " class="text text-danger mt-1">
                {{'Gender Required' | translate}}
              </div>
            </div> -->

            <!-- Date of Birth -->
            <!-- <div class="form-group">
              <label class="col-form-label pt-0">{{'Date of Birth' | translate}}</label>
              <input class="form-control" formControlName="dob" type="date" required />
              <div *ngIf="
                  registerForm.controls.dob.touched &&
                  registerForm.controls.dob.errors?.required
                " class="text text-danger mt-1">
                {{'Date of Birth Required' | translate}}
              </div>
            </div> -->



            <div class="form-group">
              <button class="btn btn-primary btn-block btn-lg" [class.loader--text]="authService.showLoader"
                      [disabled]="!registerForm.valid || authService.showLoader" (click)="register()" type="submit">
                <span>{{ authService.showLoader ? "" : "Register" | translate }}</span>
              </button>
            </div>

            <div class="form-group">
              <div class="text-center mt-2">
                {{ 'Are you already user?' | translate }}
                <a class="btn-link text-capitalize" routerLink="/auth/login">
                  {{ 'Login' | translate }}
                </a>
              </div>
            </div>
            <div class="login-divider hidden"></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<app-tawk-chat></app-tawk-chat>
