<div class="page-wrapper">
  <div class="auth-bg align-items-start flex-column justify-content-start w-100">
    <about-header class="w-100 position-sticky" style="top: -2px; z-index: 10;"></about-header>

    <about-carousel class="w-100 m-t-0"></about-carousel>

    <about-features id="about" class="w-100 py-5"></about-features>

    <about-pricing id="pricing" class="d-flex w-100"></about-pricing>

    <about-footer class="w-100"></about-footer>
  </div>
</div>

<app-tawk-chat [id]="_environment.tawkto.id"></app-tawk-chat>
