<ng-template #editor let-modal>
  <form class="form form-horizontal theme-form mega-form" (submit)="onSubmit($event)">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{ editorTitle | translate}}</h4>

      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div>

        <div class="form-group row">
          <label class="col-form-label col-sm-3">{{'Title' | translate}}</label>

          <div class="col-sm-9">
            <input type="text" class="form-control" placeholder="e.g. Mr, Mrs, Ms" />
          </div>
        </div>

      </div>
    </div>

    <div class="modal-footer text-right">
      <button type="submit" class="btn btn-primary m-r-15"><i class="fa fa-save"></i>
        {{'Save Changes' | translate}}</button>
      <button type="button" class="btn btn-danger" (click)="cancel()">{{'Cancel' | translate}}</button>
    </div>

  </form>
</ng-template>
