<table class="print-table">
  <thead>
    <tr>
      <td>
        <app-print-header
          *ngIf="printService.printMetaData?.header"
        ></app-print-header>

        <h5
          class="text-center m-b-20"
          *ngIf="printService.printMetaData?.title"
        >
          {{ printService.printMetaData.title | titlecase }}
        </h5>
      </td>
    </tr>
  </thead>

  <tbody>
    <div class="page">
      <router-outlet>
        <app-loading-rotate-dashed>
          <app-title></app-title>
        </app-loading-rotate-dashed>
      </router-outlet>
    </div>
  </tbody>

  <tfoot *ngIf="printService.printMetaData?.footer">
    <div class="footer-space"></div>
  </tfoot>
</table>

<div class="footer" *ngIf="printService.printMetaData?.footer">
  <app-print-footer></app-print-footer>
</div>
