<table class="print-table">
  <thead>
    <tr>
      <td>
        @if (printService.printMetaData?.header) {
          <app-print-header
          ></app-print-header>
        }

        @if (printService.printMetaData?.title) {
          <h5
            class="text-center m-b-20"
            >
            {{ printService.printMetaData.title | titlecase }}
          </h5>
        }
      </td>
    </tr>
  </thead>

  <tbody>
    <div class="page">
      <router-outlet>
        <app-loading-rotate-dashed>
          <app-title></app-title>
        </app-loading-rotate-dashed>
      </router-outlet>
    </div>
  </tbody>

  @if (printService.printMetaData?.footer) {
    <tfoot>
      <div class="footer-space"></div>
    </tfoot>
  }
</table>

@if (printService.printMetaData?.footer) {
  <div class="footer">
    <app-print-footer></app-print-footer>
  </div>
}
