<ng-template #editor let-modal>
  <form class="form form-horizontal theme-form mega-form" (submit)="onSubmit($event)">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{ editorTitle | translate}}</h4>

      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">

      </button>
    </div>
    <div class="modal-body">

      @if (isSelectOptionView()) {
        <div [formGroup]="selectOptionForm">
          <div class="card border-primary border">
            <div class="card-body">
              <div class="radio radio-primary">
                <input type="radio" id="existing" name="source" value="add-existing" class="radio_animated" checked
                  formControlName="source" />
                  <label for="existing">
                    <span class="fw-bold block m-b-5">{{ 'Add Existing Member' | translate }}</span>
                    <p>{{ 'Add an existing member as a family member' | translate }}</p>
                  </label>
                </div>
              </div>
            </div>
            <div class="card border-info border">
              <div class="card-body">
                <div class="radio radio-primary">
                  <input type="radio" id="new" name="source" value="add-new" class="radio_animated"
                    formControlName="source" />
                    <label for="new">
                      <span class="fw-bold block m-b-5">{{ 'Create New Profile' | translate }}</span>
                      <p>{{ 'Add a family by entering new data for the membership' | translate }}</p>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          }


          @if (isAddNewView() || isEditView()) {
            <div class="new-profile-group" [formGroup]="newProfileForm">
              <div class="form-group row">
                <label class="col-form-label col-sm-3">{{ 'Relation Type' | translate }}</label>
                <div class="col-sm-9">
                  <select class="form-select" formControlName="member_relation_type_id">
                    <option value="">Select Option</option>
                    @for (type of relationTypes; track type) {
                      <option [value]="type.id">
                        {{ type.name | translate }}
                      </option>
                    }
                  </select>
                  @if (newProfileForm.controls.member_relation_type_id.errors?.required) {
                    <div class="messages text-danger">
                      <p class="m-b-0">{{'Relation Type Required' | translate}}</p>
                    </div>
                  }
                </div>
              </div>
              <div class="form-group row">
                <label class="col-form-label col-sm-3">{{ 'Name' | translate }}</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" placeholder="e.g.John Mensah" formControlName="name" />
                  @if (newProfileForm.controls.name.errors?.required) {
                    <div class="messages text-danger">
                      <p class="m-b-0">{{'Name Required' | translate}}</p>
                    </div>
                  }
                </div>
              </div>
              <div class="form-group row">
                <label class="col-form-label col-sm-3">{{ 'Gender' | translate }}</label>
                <div class="col-sm-9">
                  <div class="m-t-10 m-checkbox-inline mb-0 custom-radio-ml">
                    <div class="radio radio-primary">
                      <input type="radio" id="maleradio" value="male" formControlName="gender">
                      <label for="maleradio" class="mb-0">{{ 'Male' | translate }}</label>
                    </div>
                    <div class="radio radio-primary">
                      <input type="radio" id="femaleradio" value="female" formControlName="gender">
                      <label for="femaleradio" class="mb-0"> {{ 'Female' | translate }}</label>
                    </div>
                  </div>
                  @if (newProfileForm.controls.gender.errors?.required) {
                    <div class="messages text-danger">
                      <p class="m-b-0">{{'Gender Required' | translate}}</p>
                    </div>
                  }
                </div>
              </div>
              <div class="form-group row">
                <label class="col-form-label col-sm-3">{{ 'Date of Birth' | translate }}</label>
                <div class="col-sm-9">
                  <input type="date" class="form-control" formControlName="dob" />
                  @if (newProfileForm.controls.dob.errors?.required) {
                    <div class="messages text-danger">
                      <p class="m-b-0">{{'Date of Birth Required' | translate}}</p>
                    </div>
                  }
                </div>
              </div>
              <div class="form-group row">
                <label class="col-form-label col-sm-3">{{ 'Still Alive' | translate }}</label>
                <div class="col-sm-9">
                  <ui-switch color="#3498DB" switchColor="#fff" size="small" formControlName="is_alive">
                  </ui-switch>
                </div>
              </div>
            </div>
          }

          @if (isAddExistingView()) {
            <div class="existing-profile-group" [formGroup]="existingProfileForm">
              <div class="form-group row">
                <label class="col-form-label col-sm-3">{{ 'Relation Type' | translate }}</label>
                <div class="col-sm-9">
                  <select class="form-select" formControlName="member_relation_type_id">
                    <option value="">Select Option</option>
                    @for (type of relationTypes; track type) {
                      <option [value]="type.id">
                        {{ type.name | translate }}
                      </option>
                    }
                  </select>
                  @if (newProfileForm.controls.member_relation_type_id.errors?.required) {
                    <div class="messages text-danger">
                      <p class="m-b-0">{{'Relation Type Required' | translate}}</p>
                    </div>
                  }
                </div>
              </div>
              <div class="form-group row">
                <div class="col-3">
                  {{ 'Find Member' | translate }}
                </div>
                <div class="col-9">
                  <app-member-control (selected)="setExistingMember($event)"></app-member-control>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-form-label col-sm-3">{{ 'Still Alive' | translate }}</label>
                <div class="col-sm-9">
                  <ui-switch color="#3498DB" switchColor="#fff" size="small" formControlName="is_alive">
                  </ui-switch>
                </div>
              </div>
            </div>
          }

        </div>

        <div class="modal-footer text-end">
          @if (relationService.requesting) {
            <span class="m-r-30">
              <i class="fa fa-circle-o-notch fa-spin"></i>
              {{ 'Saving' | translate }}
            </span>
          }

          @if (isSelectOptionView()) {
            <button type="button" class="btn btn-primary m-r-15" (click)="goToNextView()">
              {{ 'Next' | translate }}
              <i class="fa fa-chevron-right"></i>
            </button>
          }

          @if (!isSelectOptionView()) {
            <button type="submit" class="btn btn-primary m-r-15">
              <i class="fa fa-save"></i> {{'Save Changes' | translate}}
            </button>
          }

          <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">{{'Cancel' | translate}}</button>
        </div>

      </form>
    </ng-template>
