<button class="btn m-b-15" [routerLink]="['/organisation/memberships/profiles']">
  <i class="fa fa-long-arrow-left"></i> Back To Profiles
</button>

<ngb-alert *ngIf="alertMessage" [type]="alertType" (close)="alertMessage = null">{{ alertMessage }}
</ngb-alert>

<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-sm-8">
        <div class="media">
          <div class="media-left">
            <img [src]="membership?.member?.image()" class="img-100 rounded-circle"
                 default="/assets/images/avtar/3.jpg" />
          </div>
          <div class="media-body p-l-15">
            <h4>{{ membership?.name() }}</h4>

            <p class="f-12">
              {{ membership?.organisation_no }} &nbsp; &bull; &nbsp;
              {{ membership?.organisation_member_category?.name }}

              <span *ngIf="membership?.member?.occupation">&nbsp; &bull; &nbsp;
                {{ membership?.member?.occupation }}</span>
            </p>

            <div class="row">
              <div class="col-sm-8">
                <button class="btn btn-success btn-sm m-r-10" *ngIf="membership?.pendingApproval()"
                        (click)="membershipService.approveRegistration(membership)">
                  <i class="fa fa-check"></i> Approve
                </button>

                <button class="btn btn-danger btn-sm m-r-10" *ngIf="membership?.pendingApproval()"
                        (click)="membershipService.rejectRegistration(membership)">
                  <i class="fa fa-thumbs-down"></i> Reject
                </button>

                <button class="btn btn-info btn-sm" *ngIf="membership?.approved" (click)="editProfile()">
                  <i class="fa fa-pencil"></i> Edit Profile
                </button>
              </div>

              <div class="col-sm-4 text-right">
                <app-make-admin [membership]="membership"></app-make-admin>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="col-sm-4 p-t-10">
        <p>
          <i class="fa fa-fw fa-envelope m-r-5"></i>
          <a href="mailto:{{ membership?.member?.email }}">
            {{ membership?.member?.email || 'N/A'}}
          </a>
        </p>

        <p>
          <i class="fa fa-fw fa-phone m-r-5"></i>
          <a href="tel:{{ membership?.member?.mobile_number }}">
            {{ membership?.member?.mobile_number || 'N/A' }}
          </a>
        </p>
      </div>
    </div>


  </div>
</div>

<div class="card">
  <div class="card-body">
    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
      <li [ngbNavItem]="1">
        <a ngbNavLink>One</a>
        <ng-template ngbNavContent>
          <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
            master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro
            keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat
            salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
        </ng-template>
      </li>
      <li [ngbNavItem]="2">
        <a ngbNavLink>Two</a>
        <ng-template ngbNavContent>
          <p>Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko
            farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts
            ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar
            helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson
            8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester
            stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
        </ng-template>
      </li>
      <li [ngbNavItem]="3">
        <a ngbNavLink>Three</a>
        <ng-template ngbNavContent>
          <p>Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam. Nulla facilisi.
            Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget tincidunt eu, congue et odio.
            Duis pharetra et nisl at faucibus. Quisque luctus pulvinar arcu, et molestie lectus ultrices et. Sed diam urna,
            egestas ut ipsum vel, volutpat volutpat neque. Praesent fringilla tortor arcu. Vivamus faucibus nisl enim, nec
            tristique ipsum euismod facilisis. Morbi ut bibendum est, eu tincidunt odio. Orci varius natoque penatibus et
            magnis dis parturient montes, nascetur ridiculus mus. Mauris aliquet odio ac lorem aliquet ultricies in eget
            neque. Phasellus nec tortor vel tellus pulvinar feugiat.</p>
        </ng-template>
      </li>
    </ul>

    <div [ngbNavOutlet]="nav" class="mt-2"></div>

    <pre>Active: {{ active }}</pre>
    <!-- <ngb-tabset type="pills" [justify]="'justified'">
      <ngb-tab title="Overview">
        <ng-template ngbTabContent>
          <div class="p-30">
            <div class="row">
              <div class="col-sm-3 text-right">
                <h6 class="text-muted">Personal Information</h6>
              </div>

              <div class="col-sm-8 offset-sm-1">
                <div class="row m-b-20">
                  <div class="col-sm-6">
                    <small class='text-muted text-uppercase'>Date of Birth</small>
                    <p>{{ (membership?.member?.dob | date: 'short') || 'N/A' }}</p>
                  </div>

                  <div class="col-sm-6">
                    <small class='text-muted text-uppercase'>Gender</small>
                    <p>{{ (membership?.member?.gender | titlecase) || 'N/A' }}</p>
                  </div>
                </div>

                <div class="row m-b-20">
                  <div class="col-sm-6">
                    <small class='text-muted text-uppercase'>Nationality</small>
                    <p>{{ membership?.member?.nationality || 'N/A' }}</p>
                  </div>

                  <div class="col-sm-6">
                    <small class='text-muted text-uppercase'>Place of Birth</small>
                    <p>{{ membership?.member?.place_of_birth || 'N/A' }}</p>
                  </div>
                </div>

                <div class="row m-b-20">
                  <div class="col-sm-6">
                    <small class='text-muted text-uppercase'>Occupation</small>
                    <p>{{ membership?.member?.occupation || 'N/A' }}</p>
                  </div>

                  <div class="col-sm-6">
                    <small class='text-muted text-uppercase'>Place of Work</small>
                    <p>{{ membership?.member?.business_name || 'N/A' }}</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="row m-t-40">
              <div class="col-sm-3 text-right">
                <h6 class="text-muted">Contact Information</h6>
              </div>

              <div class="col-sm-8 offset-sm-1">
                <div class="row">
                  <div class="col-sm-6">
                    <small class='text-muted text-uppercase'>Email</small>
                    <p>{{ membership?.member?.email || 'N/A'}}</p>
                  </div>

                  <div class="col-sm-6">
                    <small class='text-muted text-uppercase'>Phone Number</small>
                    <p>{{ membership?.member?.mobile_number || 'N/A' }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </ng-template>
      </ngb-tab>
      <ngb-tab>
        <ng-template ngbTabTitle>Contributions</ng-template>
        <ng-template ngbTabContent>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin
          coffee squid.
          <p>Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko
            farm-to-table
            craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts
            ullamco ad vinyl
            cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica
            VHS salvia
            yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit,
            sustainable jean
            shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr
            butcher vero
            sint qui sapiente accusamus tattooed echo park.</p>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Groups">
        <ng-template ngbTabContent>
          <p>Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam. Nulla
            facilisi. Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget tincidunt
            eu, congue et odio. Duis pharetra et nisl at faucibus. Quisque luctus pulvinar arcu, et molestie
            lectus ultrices et. Sed diam urna, egestas ut ipsum vel, volutpat volutpat neque. Praesent fringilla
            tortor arcu. Vivamus faucibus nisl enim, nec tristique ipsum euismod facilisis. Morbi ut bibendum est,
            eu tincidunt odio. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus
            mus. Mauris aliquet odio ac lorem aliquet ultricies in eget neque. Phasellus nec tortor vel tellus
            pulvinar feugiat.</p>
        </ng-template>
      </ngb-tab>

      <ngb-tab title="Photos">
        <ng-template ngbTabContent>
          <p>Sed commodo, leo at susci
          </p>
        </ng-template>
      </ngb-tab>
    </ngb-tabset> -->

  </div>
</div>
