<ngb-alert *ngIf="alertMessage" [type]="alertType" (close)="alertMessage = null">{{ alertMessage }}
</ngb-alert>

<div class="row">
  <aside class="col-lg-3">
    <div class="card profile-header">
      <div class="card-header">
        <button class="btn btn-pill btn-outline-primary back-btn" [routerLink]="['/organisation/memberships/profiles']">
          <i class="fa fa-long-arrow-left"></i> {{ 'Back To Profiles' | translate }}
        </button>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-lg-12 text-center">
            <div class="p-b-15 image-cropper">
              <img [src]="profileImageUrl" class="profile-img" default="/assets/images/user/no-photo-icon.jpg" />
            </div>

            <div class="p-15">
              <div class="m-b-25" *ngIf="imageUploadProgress">
                <ngb-progressbar type="success" [value]="imageUploadProgress" height="5px" [striped]="true">
                </ngb-progressbar>
              </div>

              <!-- <label for="image-file-picker" class="btn btn-success btn-pill">
                {{ 'Change Photo' | translate }}
                <input type="file" name="image" id="image-file-picker"
                       style="opacity: 0; position: absolute; display: block; width: 100%;"
                       (change)="onImageFormSubmit($event)" />
              </label> -->

              <button class="btn btn-success btn-pill" (click)="imageCropper.show()">
                {{ 'Change Photo' | translate }}
              </button>

              <app-image-cropper #imageCropper (save)="onCroppedImageSaved($event)"></app-image-cropper>
            </div>

            <div class="p-15">
              <h4>{{ membership?.name() }}</h4>

              <p class="f-12">
                {{ membership?.organisation_no }}
                &nbsp; &bull; &nbsp;
                {{ membership?.organisation_member_category?.name }}
              </p>

            </div>
          </div>
        </div>


      </div>
    </div>
  </aside>

  <section class="col-lg-9">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-sm-8">
            <button class="btn btn-success btn-sm m-r-10" *ngIf="membership?.pendingApproval()"
                    (click)="membershipService.approveRegistration(membership)">
              <i class="fa fa-check"></i> {{'Approve' | translate}}
            </button>

            <button class="btn btn-danger btn-sm m-r-10" *ngIf="membership?.pendingApproval()"
                    (click)="membershipService.rejectRegistration(membership)">
              <i class="fa fa-thumbs-down"></i> {{'Reject' | translate}}
            </button>

            <button class="btn btn-info btn-sm" *ngIf="membership?.approved" (click)="editProfile()">
              <i class="fa fa-pencil"></i> {{'Edit Profile' | translate}}
            </button>
          </div>

          <div class="col-sm-4 text-right">
            <app-make-admin [membership]="membership"></app-make-admin>
          </div>
        </div>
      </div>
      <div class="card-body">
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills">

          <!-- Profile Summary Tab -->
          <li [ngbNavItem]="1">
            <a ngbNavLink><i class="fa fa-globe"></i> {{'Overview' | translate}}</a>
            <ng-template ngbNavContent>
              <app-profile-summary [membership]="membership"></app-profile-summary>
            </ng-template>
          </li>

          <!-- Groups Tab -->
          <li [ngbNavItem]="2">
            <a ngbNavLink><i class="fa fa-users"></i> {{ 'Groups' | translate }}</a>
            <ng-template ngbNavContent>
              <app-profile-groups [membership]="membership"></app-profile-groups>
            </ng-template>
          </li>

          <!-- Family -->
          <li [ngbNavItem]="3">
            <a ngbNavLink><i class="fa fa-link"></i> {{ 'Family' | translate }}</a>
            <ng-template ngbNavContent>
              <app-profile-family [membership]="membership"></app-profile-family>
            </ng-template>
          </li>

          <!-- Messages -->
          <li [ngbNavItem]="4">
            <a ngbNavLink><i class="fa fa-envelope"></i> {{ 'Messages' | translate }}</a>
            <ng-template ngbNavContent>
              <app-profile-sms-messages [membership]="membership"></app-profile-sms-messages>
            </ng-template>
          </li>

          <!-- Contributions -->
          <li [ngbNavItem]="5">
            <a ngbNavLink><i class="fa fa-money"></i> {{ 'Contributions' | translate }}</a>
            <ng-template ngbNavContent>
              <app-profile-contributions [membership]="membership"></app-profile-contributions>
            </ng-template>
          </li>


        </ul>

        <!-- Outlet for the Tab Set above -->
        <div [ngbNavOutlet]="nav" class="mt-2"></div>
      </div>
    </div>
  </section>
</div>
