<ngb-alert *ngIf="alertMessage" [type]="alertType" (close)="alertMessage = null">{{ alertMessage }}
</ngb-alert>

<div class="row">
  <!-- SIDEBAR -->
  <aside class="col-lg-3">
    <app-profile-sidebar [membership]="membership"></app-profile-sidebar>
  </aside>

  <!-- MAIN CONTENT -->
  <main class="col-lg-9">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-sm-8">
            <button class="btn btn-success btn-sm m-r-10" *ngIf="membership?.pendingApproval()"
                    (click)="membershipService.approveRegistration(membership)">
              <i class="fa fa-check"></i> {{'Approve' | translate}}
            </button>

            <button class="btn btn-danger btn-sm m-r-10" *ngIf="membership?.pendingApproval()"
                    (click)="membershipService.rejectRegistration(membership)">
              <i class="fa fa-thumbs-down"></i> {{'Reject' | translate}}
            </button>

            <button class="btn btn-info btn-sm" *ngIf="membership?.approved" (click)="editProfile()">
              <i class="fa fa-pencil"></i> {{'Edit Profile' | translate}}
            </button>
          </div>

          <div class="col-sm-4 text-right">
            <app-make-admin [membership]="membership"></app-make-admin>
          </div>
        </div>
      </div>
      <div class="card-body">
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills">

          <!-- Profile Summary Tab -->
          <li [ngbNavItem]="1">
            <a ngbNavLink><i class="fa fa-globe"></i> {{'Overview' | translate}}</a>
            <ng-template ngbNavContent>
              <app-profile-summary [membership]="membership"></app-profile-summary>
            </ng-template>
          </li>

          <!-- Groups Tab -->
          <li [ngbNavItem]="2">
            <a ngbNavLink><i class="fa fa-users"></i> {{ 'Groups' | translate }}</a>
            <ng-template ngbNavContent>
              <app-profile-groups [membership]="membership"></app-profile-groups>
            </ng-template>
          </li>

          <!-- Family -->
          <li [ngbNavItem]="3">
            <a ngbNavLink><i class="fa fa-link"></i> {{ 'Family' | translate }}</a>
            <ng-template ngbNavContent>
              <app-profile-family [membership]="membership"></app-profile-family>
            </ng-template>
          </li>

          <!-- Anniversaries -->
          <li [ngbNavItem]="6">
            <a ngbNavLink><i class="fa fa-birthday-cake"></i> {{ 'Anniversaries' | translate }}</a>
            <ng-template ngbNavContent>
              <app-profile-anniversaries [membership]="membership"></app-profile-anniversaries>
            </ng-template>
          </li>

          <!-- Messages -->
          <li [ngbNavItem]="4">
            <a ngbNavLink><i class="fa fa-envelope"></i> {{ 'Messages' | translate }}</a>
            <ng-template ngbNavContent>
              <app-profile-sms-messages [membership]="membership"></app-profile-sms-messages>
            </ng-template>
          </li>

          <!-- Contributions -->
          <li [ngbNavItem]="5">
            <a ngbNavLink><i class="fa fa-money"></i> {{ 'Contributions' | translate }}</a>
            <ng-template ngbNavContent>
              <app-profile-contributions [membership]="membership"></app-profile-contributions>
            </ng-template>
          </li>



        </ul>

        <!-- Outlet for the Tab Set above -->
        <div [ngbNavOutlet]="nav" class="mt-2"></div>
      </div>
    </div>
  </main>
</div>
