<section class="profile-sms-messages">

  <div class="m-b-15">
    <div class="row">
      <div class="col-8">
        <div class="btn-group">
          <button class="btn btn-sm btn-outline-info" [class]="{ active: this.sent_status == null }"
            (click)="setSentStatus()">
            {{ 'All' | translate }}
          </button>
          <button class="btn btn-sm btn-outline-success" [class]="{ active: this.sent_status == 1 }"
            (click)="setSentStatus(1)">
            {{ 'Sent' | translate }}
          </button>
          <button class="btn btn-sm btn-outline-warning" [class]="{ active: this.sent_status == 0 }"
            (click)="setSentStatus(0)">
            {{ 'Pending' | translate }}
          </button>
          <button class="btn btn-sm btn-outline-danger" [class]="{ active: this.sent_status == -1 }"
            (click)="setSentStatus(-1)">
            {{ 'Failed' | translate }}
          </button>
        </div>
      </div>

      <div class="col-4 text-end">
        <button class="btn btn-sm btn-primary"(click)="smsMessenger.show()">
          {{ 'Send Message' | translate }}
        </button>
      </div>
    </div>


  </div>

  @if (!messageService.fetching && messageService.hasZeroItems()) {
    <div class="m-t-50 m-b-50 text-center">
      @if (!smsAccount) {
        <div>
          <h3>{{ 'SMS Messaging Not Setup' | translate }}</h3>
          <p>{{ 'Setup SMS Messaging Account and then send messages to this member to see data here' | translate }}</p>
        </div>
      }
      @if (smsAccount) {
        <div>
          <h3>{{'No Messages Found' | translate}}</h3>
          <p>{{'Send SMS messages to this member see them here' | translate}}</p>
        </div>
      }
    </div>
  }

  @if (messageService.fetching) {
    <div class="loader-box m-auto">
      <span class="rotate dashed colored"></span>
    </div>
  }

  @if (!messageService.fetching && messageService.hasItems()) {
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th colspan="2">{{ 'Message Date' | translate }}</th>
          <th>{{ 'Message' | translate }}</th>
          <th>{{ 'Status' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        @for (message of messageService.getItems(); track message; let row = $index) {
          <tr>
            <td class="text-end">{{ messageService.pagingMeta.from + row }}.</td>
            <td [noWrap]='true'>{{ message.sent_at | date: shortdate }}</td>
            <td>{{ message.message }}</td>
            <td [noWrap]='true' [class]="message.textStatusIndicators()">{{ message.sent_status }}</td>
          </tr>
        }
      </tbody>
    </table>
  }
</section>

<section class="border-top-secondary p-t-15 m-t-15">
  <app-pagination [service]="messageService" (paginate)="onPaginate($event)"></app-pagination>
</section>

<app-sms-messenger #smsMessenger [membership]="membership"></app-sms-messenger>
