international-phone-number {
  .input-group {
    margin-bottom: 2px;

    .dropbtn.btn {
      border-radius: 0px;
      background-color: $light-color;
      padding: 7px 15px;
    }

    .dropbtn.btn:hover {
      background-color: $secondary-color;
    }
  }

}


div.messages.text-danger {
  p {
    margin-bottom: 0px;
    font-size: 12px;
  }
}

.swal2-popup .swal2-actions .swal2-styled.swal2-cancel {
  background-color: #d42929 !important;
}
