<div class="row" *ngIf="collectionSize">
  <div class="col-sm-3">
    <div class="input-group m-0">
      <select name='limit' class='form-control form-control-sm m-r-20 col-4' size="" (change)="onLimitChange($event.target.value)">
        <option *ngFor="let number of pagination_limits;" [selected]="pageLimit == number" value="{{ number }}">
          {{ number }}
        </option>
      </select>
      <span class="input-group-append m-0">
        <button type="button" class="btn btn-primary btn-sm" (click)="onReload()"><i class="fa fa-refresh"></i> Reload</button>
      </span>
    </div>
  </div>
  <div class="col-sm-6">
    <ngb-pagination class="d-flex justify-content-center" [collectionSize]="collectionSize" [maxSize]="4" [pageSize]="pageLimit" [(page)]="currentPage"
                    [rotate]="true" [boundaryLinks]="true" (pageChange)="onPageChange($event)"></ngb-pagination>
  </div>
</div>
