<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-sm-6">
        <!-- <h5>Your Organisations</h5> -->
      </div>

      <div class="col-sm-6 text-right">
        <button class="btn btn-primary btn-sm" (click)="editorModal.show()" > <!-- [routerLink]="['/portal/create-organisation']" -->
          <i class="fa fa-plus"></i> {{'Create Organisation' | translate}}
        </button>
      </div>
    </div>

  </div>

  <div class="card-body">

    <div class="m-t-30 m-b-30 text-center" *ngIf="emptyDataset()">
      <img src="/assets/images/icons/circle-links.svg" height="180" class="m-b-30" />
      <h4>{{ 'No Organisations Created' | translate }}</h4>
      <h6>{{ 'Create your first organisation and get your way to managing data your way' | translate }}</h6>
    </div>

    <div class="loader-box" *ngIf="memberAccountService.requesting">
      <span class="rotate dashed colored"></span>
    </div>

    <table class="table table-borderless table-hover table-striped" *ngIf="dataAvailable()">
      <thead>
        <tr>
          <th>{{'Name' | translate}}</th>
          <th>{{'Subscription' | translate}}</th>
          <th>{{'Expires' | translate}}</th>
          <th class="text-center">{{'Actions' | translate}}</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let organisation of organisations">
          <td>
            <div class="media">
              <div class="media-left p-r-20">
                <img [src]="organisation?.logo" class="img-30" default="/assets/images/avtar/3.jpg" />
              </div>

              <div class="media-body">
                <div>{{ organisation.name }}</div>
                <small>{{ organisation?.organisation_type?.name }}</small>
              </div>
            </div>
          </td>
          <td>
            {{ organisation?.active_subscription?.subscription_type?.description }}
          </td>
          <td>
            <span *ngIf="organisation?.active_subscription?.isExpired()" class="text-danger">{{'Expired' | translate}}</span>
            <span *ngIf="!organisation?.active_subscription?.isExpired()">
              {{ organisation?.active_subscription?.expiresIn() }}
            </span>

          </td>
          <td class="text-center">
            <button class="btn btn-primary btn-sm m-r-5" (click)="loadOrganisation(organisation)">
              <i class="fa fa-sign-in"></i> {{'Manage' | translate}}
            </button>

            <div ngbDropdown class="d-inline-block" placement="bottom-right">
              <button class="btn btn-outline-primary btn-round" id="editMenu" ngbDropdownToggle >
                <!--  -->
              </button>
              <div ngbDropdownMenu aria-labelledby="editMenu">
                <button class="dropdown-item" (click)="editorModal.show(organisation)">
                  <i class="fa fa-fw fa-pencil"></i> {{'Edit' | translate}}
                </button>
                <button class="dropdown-item" (click)="deleteOrganisation(organisation)">
                  <i class="fa fa-fw fa-trash-o"></i> {{'Delete' | translate}}
                </button>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

  </div>

  <div class="card-footer">
    <app-pagination [service]="memberAccountService" (paginate)="onPaginate($event)"></app-pagination>
  </div>
</div>


<app-organisation-editor-modal #editorModal></app-organisation-editor-modal>
