<div class="card border-5 border border-secondary mbs-card">
  <div class="card-body">
    <div class="row m-b-15">
      <div class="media m-l-10">
        <div class="media-left m-r-10">
          <ngx-avatar [src]="organisation?.logo" initialsSize="2" size="45"></ngx-avatar>
        </div>
        <div class="media-body">
          <h5 class="mb-1 org-name">{{ organisation.name }}</h5>
          <h6 class="mb-1 membership-card-label">{{ 'Membership Card' | translate }}</h6>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-3 text-center">
        <ngx-avatar class="profile-image" [round]="false" [src]="membership?.member?.image()" [name]="membership?.member.name()"
                    initialsSize="2" size="100"></ngx-avatar>
      </div>

      <div class="col-sm-6">
        <div class="row m-b-10">
          <div class="col-sm-12">
            <h6 class="title">{{ 'Name' | translate }}</h6>
            <h6 class="content">{{ membership?.fullname() }}</h6>
          </div>
        </div>

        <div class="row m-b-10">
          <div class="col-sm-6">
            <h6 class="title">{{ 'Membership #' | translate }}</h6>
            <h6 class="content">{{ membership?.organisation_no || 'N/A' }}</h6>
          </div>

          <div class="col-sm-6">
            <h6 class="title">{{ 'Member Since' | translate }}</h6>
            <h6 class="content">{{ membership?.created | date: 'yyyy-MM-dd' }}</h6>
          </div>
        </div>

        <div class="row m-b-10">
          <div class="col-sm-12">
            <h6 class="title">{{ 'Membership Category' | translate }}</h6>
            <h6 class="content">{{ membership?.organisation_member_category?.name || 'N/A' }}</h6>
          </div>
        </div>

        <div class="row m-b-10">
          <div class="col-sm-6">
            <h6 class="title">{{ 'Date of Birth' | translate }}</h6>
            <h6 class="content">{{ membership?.member?.dob | uppercase }}</h6>
          </div>

          <div class="col-sm-6">
            <h6 class="title">{{ 'Nationality' | translate }}</h6>
            <h6 class="content">{{ membership?.member?.nationality || 'Ghanaian' }}</h6>
          </div>
        </div>
      </div>

      <div class="col-sm-3 text-center">
        <qr-code [value]="membership?.uuid" size="100" errorCorrectionLevel="M"></qr-code>
        <h6 class="title">{{ 'Unique Code' | translate }}</h6>
      </div>
    </div>
  </div>
</div>
