.title {
  font-size: 0.8em;
  font-weight: bold;
  text-transform: uppercase;
  color: #555;
  margin-bottom: 4px;
}

.content {
  font-size: 0.9em;
  text-transform: uppercase;
  color: #222;
  margin-top: 4px;
  margin-bottom: 2px;
}

.org-name {
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 5px;
  color: #222;
  border-bottom: solid 2px lightpink;
}

.membership-card-label {
  font-size: 0.9em;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0px;
  color: #222;
}

.mbs-card {
  background-image: linear-gradient(45deg, #fafafa 25%, #ffffff 25%, #ffffff 50%, #fafafa 50%, #fafafa 75%, #ffffff 75%, #ffffff 100%);
  background-size: 56.57px 56.57px;
}

.card, .card-body {
  break-inside: avoid;
}


@media only screen and (max-width: 991px) {
  .title {
    font-size: 0.65em;
    margin-bottom: 4px;
  }

  .content {
    font-size: 0.7em;
  }

  .avatar-container {
    max-width: 60px;
  }

  .org-name {
    font-size: 0.85em;
  }

  .membership-card-label {
    font-size: 0.8em;
  }
}

@media only print {
  .title {
    font-size: 0.65em;
    margin-bottom: 4px;
  }

  .content {
    font-size: 0.7em;
  }

  .org-name {
    font-size: 0.85em;
  }

  .membership-card-label {
    font-size: 0.8em;
  }

  .card-body {
    padding: 10px;
  }
}
