<div class="row">
  <div class="col-md-10 offset-md-1">

    <ul class="list-group m-b-30">
      <li class="list-group-item pt-4 pb-4">
        {{ "Unread Notifications" | translate }}
        <span class="badge badge-pill badge-primary ml-1">{{ unreadNotifications.length }}</span>

        <a href="javascript:;" class="text-primary pull-right" (click)="markAllRead($event)">
          <span>{{ "Mark All Read" | translate }}</span>
        </a>
      </li>

      <li class="text-center list-group-item py-5" *ngIf="notifications.length == 0">
        <app-feather-icons [icon]="'bell'"></app-feather-icons> <br />
        {{ "No new notifications" | translate }}
      </li>

      <ng-container *ngIf="fetching">
        <app-loading-rotate-dashed></app-loading-rotate-dashed>
      </ng-container>

      <ng-container *ngIf="!fetching">
        <li class="list-group-item notification-item" *ngFor="let notification of notifications; let row = index" [ngClass]="{ 'active' : !notification.read_at}">
          <div class="media">
            <div class="media-body" (click)="onNotificationClicked(notification)">
              <h6 class="mt-0 mb-1">
                <span>
                  <app-feather-icons class="shopping-color" style="vertical-align: middle" [icon]="'shopping-bag'"></app-feather-icons>
                </span>
                {{ notification.title }}
                <span class="pull-right f-14">{{ notification.timeAgo() }}</span>
              </h6>
              <p class="m-0">{{ notification.message }}</p>
            </div>
          </div>
        </li>
      </ng-container>



      <li class="list-group-item bg-light txt-dark text-center">
        <app-pagination [service]="notificationService" (paginate)="onPaginate($event)"></app-pagination>
      </li>
    </ul>

  </div>
</div>
