
<div>
  @if (marking) {
    <span>
      <button class="btn btn-sm btn-light btn-round">
        <i class="fa fa-fw fa-circle-o-notch fa-spin"></i>
      </button>
    </span>
  }

  @if (!marking) {
    <span>
      @if (!eventAttendee) {
        <button class="btn btn-sm btn-light btn-round" (click)="markPresent(membership)">
          <i class="fa fa-fw fa-check"></i>
        </button>
      }
      @if (eventAttendee) {
        <button class="btn btn-sm btn-success btn-round" (click)="unmarkPresent(membership)">
          <i class="fa fa-fw fa-check"></i>
        </button>
      }
    </span>
  }

</div>
