.add-filter-btn {
  padding: 0.6em 1.5em;
}

.filter-icon {
  font-size: 10px;
  font-weight: bolder;
  text-transform: uppercase;
  padding: 2px 3px;
  width: 35px;
  display: inline-block;
  margin-right: 5px;
  text-align: center;
  background-color: rgb(47, 103, 167);
  color: white;
  border-radius: 4px;
}
