<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-md-6">
        <button type="button" class="btn btn-primary btn-sm m-r-10" (click)="showEditorModal()">
          <i class="fa fa-plus"></i> {{'Add Broadcast List' | translate}}
        </button>
      </div>

      <div class="col-md-6 text-right">
        <button type="button" class="btn btn-outline-info btn-sm m-r-10" (click)="showSearchModal()">
          <i class="fa fa-search"></i> {{'Find Broadcast Lists' | translate}}
        </button>
      </div>
    </div>

  </div>

  <div class="m-t-30 m-b-30 text-center" *ngIf="broadcastLists && broadcastLists.length == 0">
    <img src="/assets/images/icons/circle-document.svg" height="180" class="m-b-30" />
    <h4 class="font-weight-bold">{{'No Broadcast Lists Found' | translate}}</h4>
    <h6>{{'Please search for broadcast lists or add a new one to display results here' | translate}}</h6>
  </div>

  <div class="loader-box m-auto" *ngIf="!broadcastLists">
    <span class="rotate dashed colored"></span>
  </div>

  <table class="table table-bordered table-hover" *ngIf="broadcastLists && broadcastLists.length > 0">
    <thead>
      <tr>
        <th colspan="2">{{'Name' | translate}}</th>
        <th class="text-left">{{'Sender ID' | translate}}</th>
        <th class="text-center">{{'Contacts In List' | translate}}</th>
        <th class="text-right">{{ 'Created' | translate }}</th>
        <th class="text-center">{{'Actions' | translate}}</th>
      </tr>
    </thead>


    <tbody>
      <tr *ngFor="let broadcastList of broadcastLists; let row = index">
        <td class="text-right">{{ row + broadcastListService?.pagingMeta?.from }}.</td>
        <td>{{ broadcastList.name }}</td>
        <td class="text-left">{{ broadcastList.sender_id }}</td>
        <td class="text-center">{{ broadcastList.size | number }}</td>

        <td class="text-right">{{ broadcastList.whenCreated() }}</td>

        <td class="text-center">
          <a [routerLink]="['/organisation/messaging/broadcast-lists', broadcastList.id, 'contacts']" type="button" class="btn btn-xs btn-info m-r-10" (click)="previewBroadcastList(broadcastList)">
            <i class="fa fa-file"></i> {{ 'Preview' | translate }}
          </a>

          <button type="button" class="btn btn-xs btn-primary m-r-10" (click)="showEditorModal(broadcastList)">
            <i class="fa fa-pencil"></i> {{'Edit' | translate}}
          </button>

          <button type="button" class="btn btn-xs btn-danger" (click)="deleteBroadcastList(broadcastList)">
            <i class="fa fa-trash-o"></i> {{'Delete' | translate}}
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="card-footer">
    <app-pagination [service]="broadcastListService" (paginate)="onPaginate($event)"></app-pagination>
  </div>
</div>


<ng-template #searchModal let-modal>
  <form (submit)="onSearch($event)" class="form form-horizontal theme-form" [formGroup]="searchForm">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{'Find Broadcast Lists' | translate}}</h4>
      <!-- <p>Search your membership database and find members by any of the parameters below</p> -->
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">

      <div class="form-group row">
        <label class="col-sm-4 col-form-label">{{'Name' | translate}}</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" placeholder="e.g. Default" formControlName="name_like" />
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-4 col-form-label">{{'Sender ID' | translate}}</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" placeholder="e.g. Memberz" formControlName="sender_id_like" />
        </div>
      </div>

    </div>

    <div class="modal-footer">
      <button type="submit" class="btn btn-primary">{{'Search' | translate}}</button>
      <button type="reset" class="btn btn-outline-info">{{'Clear' | translate}}</button>
      <button type="button" class="btn btn-outline-danger"
              (click)="modal.close('Save click')">{{'Cancel' | translate}}</button>
    </div>
  </form>
</ng-template>

<ng-template #editorModal let-modal>
  <form (submit)="onSubmit($event)" class="form form-horizontal theme-form" [formGroup]="editorForm">
    <div class="modal-header">
      <h5 class="modal-title" id="modal-basic-title">{{'Broadcast List Editor' | translate}}</h5>
      <!-- <p>Search your membership database and find members by any of the parameters below</p> -->
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">

      <div class="form-group row">
        <label class="col-sm-2 col-form-label">{{'Name' | translate}}</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" placeholder="e.g. Default" formControlName="name" />
          <div class="messages text-danger" *ngIf="editorForm.controls.name?.errors?.required">
            <p class="m-b-0 m-t-5">{{'Name Required' | translate}}</p>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label">{{'Sender ID' | translate}}</label>
        <div class="col-sm-10">
          <input type="text" class="form-control w-25" formControlName="sender_id" maxlength="11"
                 placeholder="e.g. {{'ID that appears on their phone' | translate}}" />

          <p class="small py-2 pl-2 mb-0">
            <i class="fa fa-info-circle text-info"></i>
            <span>{{ 'Sender ID is the name displayed on the members phone when messages are received from this list' | translate}}.</span>
            {{ 'It must be a maximum of' | translate }} <b>{{ '11 alphanumeric characters' | translate }}</b> {{ 'and cannot have spaces' | translate }}
          </p>

          <div class="messages text-danger" *ngIf="editorForm.controls.sender_id?.errors?.required">
            <p class="m-b-0 m-t-5">{{'Sender ID Required' | translate}}</p>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label">{{ 'Filters' | translate }}</label>
        <div class="col-sm-9" formArrayName="filters">

          <ng-container *ngFor="let filterGroup of filterControls.controls; let i = index">
            <div class="form-group row" [formGroup]="filterGroup">
              <div class="col-4">
                <select class="form-control" formControlName="field" (change)="setSelectedFilterField($event.target.value, i)">
                  <option value="">{{ 'Select Field' | translate }}</option>
                  <optgroup *ngFor="let group of listFilters" [label]="group.name">
                    <option *ngFor="let field of group.fields" [value]="field.id">{{ field.name | translate }}</option>
                  </optgroup>
                </select>

                <div class="messages text-danger" *ngIf="filterGroup.controls.field?.errors?.required">
                  <p class="m-b-0 m-t-5">{{'Field Required' | translate}}</p>
                </div>
              </div>

              <div class="col-3">
                <select class="form-control" formControlName="condition">
                  <option value="">{{ 'Select Condition' | translate }}</option>
                  <option *ngFor="let field of selectedFilterFields[i]?.conditions" [value]="field.value">{{ field.label | translate }}</option>
                </select>

                <div class="messages text-danger" *ngIf="filterGroup.controls.condition?.errors?.required">
                  <p class="m-b-0 m-t-5">{{'Condition Required' | translate}}</p>
                </div>
              </div>

              <div class="col-4">
                <input *ngIf="selectedFilterFields[i]?.value_type == 'text'" type="text" class="form-control" placeholder="{{'Enter Value' | translate}}" formControlName="value" />
                <input *ngIf="selectedFilterFields[i]?.value_type == 'number'" type="number" class="form-control" placeholder="{{'Enter Value' | translate}}" formControlName="value" />
                <input *ngIf="selectedFilterFields[i]?.value_type == 'date'" type="date" class="form-control" placeholder="{{'YYYY-MM-DD' | translate}}" formControlName="value" />
                <select *ngIf="selectedFilterFields[i]?.value_type == 'option'" class="form-control" formControlName="value">
                  <option value="">{{ 'Select Option' | translate }}</option>
                  <option *ngFor="let option of selectedFilterFields[i]?.options" [value]="option.value">{{ option.label | translate }}</option>
                </select>

                <div class="form-control-plaintext form-control" *ngIf="!selectedFilterFields[i]"></div>

                <div class="messages text-danger" *ngIf="filterGroup.controls.value?.errors?.required">
                  <p class="m-b-0 m-t-5">{{'Value Required' | translate}}</p>
                </div>
              </div>

              <div class="col-1 text-center">
                <button type="button" class="btn btn-danger btn-sm remove-filter-btn" title="{{ 'Remove Filter' | translate }}" (click)="removeFilterGroup(i)">
                  <i class="fa fa-trash-o"></i>
                </button>
              </div>
            </div>
          </ng-container>


        </div>

        <div class="col-sm-1 text-center">
          <button type="button" class="btn btn-info btn-sm add-filter-btn" title="{{ 'Add Filter' | translate }}" (click)="addFilterGroup()">
            <i class="fa fa-plus"></i>
          </button>
        </div>
      </div>

    </div>

    <div class="modal-footer">
      <span *ngIf="broadcastListService?.requesting" class="m-r-20"><i class="fa fa-spin fa-circle-o-notch"></i>
        {{'Saving' | translate}}...
      </span>

      <button type="submit" class="btn btn-primary">{{'Save Changes' | translate}}</button>
      <button type="button" class="btn btn-outline-danger"
              (click)="modal.close('Save click')">{{'Cancel' | translate}}</button>
    </div>
  </form>
</ng-template>
