<ng-template #editorModal let-modal>
  <form (ngSubmit)="onSubmit($event)" [formGroup]='editorForm'>
    <div class="modal-header">
      <h5 class="modal-title">{{'Set Permissions For Role' | translate}}: <b class="text-primary">{{ role?.name | titlecase }}</b></h5>

      <button type="button" class="close basic-close" (click)="hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="p-b-10">
        <div class="row">
          <div class="col-sm-4">
            <label class="d-flex mb-0">
              <ui-switch color="#3498DB" switchColor="#fff" size="small" (change)="selectAll($event)">
              </ui-switch>
              <span class="m-l-5">{{'Select All Permissions' | translate}}</span>
            </label>
          </div>

          <div class="col-sm-4 text-center">
            <span class="f-16 text-primary font-weight-bold" *ngIf="permissionService?.requesting">
              <i class="fa fa-spin fa-circle-o-notch"></i> {{'Loading Role Permissions' | translate}} ...
            </span>

            <span class="badge badge-info" *ngIf="!permissionService?.requesting">
              <span class="f-12">
                Total Selected Permissions: {{ totalSelectedPermissions() }} / {{ permissions.length }}
              </span>
            </span>
          </div>

          <div class="col-sm-4 text-right p-r-30">
            <button type='button' class="btn btn-xs btn-primary" (click)="refreshPermissionCache()">
              <i class="fa fa-refresh"></i> {{'Refresh Permission Cache' | translate}}
            </button>
          </div>
        </div>

      </div>

      <div class="main-content">
        <div id="accordion" class="table-responsive m-t-10 p-l-15 p-r-15">
          <div class="p-15">
            <div class="row font-weight-bold">
              <div class="col-4">{{'Permission Group' | translate}}</div>
              <div class="col-8">{{'Actions' | translate}}</div>
            </div>
          </div>

          <div class="card m-b-15" *ngFor="let permGroup of permissionGroups; let row = index">
            <div class="card-header p-t-10 p-b-10">
              <div class="row">
                <div class="col-2">
                  <ui-switch class="js-small" color="#3498DB" switchColor="#fff"
                             (change)="selectAllInGroup($event, permGroup)" [checked]="permGroup.selected"></ui-switch>
                </div>

                <div class="col-3 p-t-5 font-weight-bold">
                  <a href="javascript:;" (click)="toggleGroupCollapsed(permGroup)">
                    {{ permGroup.name.replace("_", " ") | titlecase }}
                  </a>
                </div>

                <div class="col-6 p-t-5">
                  <i class="label"
                     [ngClass]="{'label-inverse': permGroup.totalSelected() > 0, 'label-default': permGroup.totalSelected() == 0}">
                    {{'Selected' | translate}}: {{ permGroup.totalSelected() }} / {{ permGroup.totalPermissions() }}
                  </i>
                </div>

                <div class="col-1 font-weight-bold text-right">
                  <a class="btn btn-xs btn-outline-secondary" (click)="toggleGroupCollapsed(permGroup)">
                    <i class="fa fa-caret-down" *ngIf="!permGroup.collapsed"></i>
                    <i class="fa fa-caret-right" *ngIf="permGroup.collapsed"></i>
                  </a>
                </div>
              </div>
            </div>

            <div id="collapse{{row}}" data-parent="#accordion" [ngbCollapse]="permGroup.collapsed">
              <div class="card-body">
                <div class="row m-b-10" *ngFor="let subGroup of permGroup.groups; let row = index">
                  <div class="col-1">&nbsp;</div>
                  <div class="col-3 p-t-5 middle">
                    {{ row + 1 }}. {{ subGroup.name.replace("_", " ") | titlecase }}
                  </div>
                  <div class="col-8">
                    <div class="d-inline-block m-r-15">
                      <div class="d-block text-left font-weight-bold">ALL</div>
                      <div class="d-block text-left m-t-5">
                        <ui-switch color="#3498DB" switchColor="#fff" size="small"
                                   (change)="selectAllInGroup($event, subGroup)" [checked]="subGroup.selected">
                        </ui-switch>
                      </div>
                    </div>

                    <div class="d-inline-block m-r-15" *ngFor="let permission of subGroup.permissions">
                      <div class="d-block text-left">{{ permission.actionName() | titlecase }}</div>
                      <div class="d-block text-left m-t-5">
                        <ui-switch color="#3498DB" switchColor="#fff" size="small"
                                   [checked]="permission.selected" (change)="markSelected($event, permission)">
                        </ui-switch>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="modal-footer flex-grow-1">
      <div class="text-right">
        <span class="m-r-15" *ngIf="roleService?.requesting">
          <i class="fa fa-spin fa-circle-o-notch"></i> {{'Saving' | translate}}
        </span>

        <button type="submit" class="btn btn-primary m-r-10 btn-sm">{{'Save Permissions' | translate}}</button>

        <button type="button" class="btn btn-outline-danger btn-sm" (click)="hide()">{{'Cancel' | translate}}</button>
      </div>
    </div>
  </form>

</ng-template>
