.profile-header {
  p {
    font-size: 1em;
  }

  .image-cropper {
    width: 8em;
    height: 8em;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin: 0px auto;
    border: solid 5px #069;
    overflow: hidden;
  }

  .profile-img {
    position: absolute;
    width: 110%;
    height: 110%;
    left: -10px;
    top: -10px;
  }
}
