<div class="card">
  <div class="card-header">
    <div class="d-flex justify-content-between align-items-center">
      <h6 class="fw-bold mb-0">{{ 'Groups In' | translate }}
      {{ groupType?.name || ('None Selected' | translate) }}</h6>
      <button type="button" class="btn btn-primary btn-sm" (click)="showEditorModal()" [disabled]="!groupType">
        <i class="fa fa-plus"></i> {{'Add Group' | translate}}
      </button>
    </div>
  </div>

  @if (groupService.fetching) {
    <app-loading-rotate-dashed></app-loading-rotate-dashed>
  }

  @if (noDataAvailable()) {
    <app-no-data-available></app-no-data-available>
  }

  @if (groupDataAvailable()) {
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th colspan="2">{{ 'Name' | translate }}</th>
          <th class="text-center">{{ 'Members' | translate }}</th>
          <th>{{ 'Group Leader' | translate }}</th>
          <th class="text-center">{{ 'Actions' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        @for (group of groupService.getItems(); track group; let row = $index) {
          <tr>
            <td class="text-end">{{ row + 1 }}.</td>
            <td>{{ group.name }}</td>
            <td class="text-center">{{ group.organisation_group_members_count | number }}</td>
            <td>
              @if (group.organisation_group_leaders?.length > 0) {
                <ul>
                  @for (leader of group.organisation_group_leaders; track leader) {
                    <li>
                      <a [routerLink]="['/organisation/memberships/view', leader.organisation_member_id]"
                      target="profile">{{ leader.name }}</a>
                    </li>
                  }
                </ul>
              }
              @if (group.organisation_group_leaders?.length == 0) {
                <span>N/A</span>
              }
            </td>
            <td class="text-center">
              <button class="btn btn-primary btn-xs m-r-15" (click)="viewMembers(group)">{{ 'View Members' | translate }}</button>
              <button class="btn btn-primary btn-xs m-r-15" (click)="showEditorModal(group)">{{ 'Edit' | translate }}</button>
              <button class="btn btn-danger btn-xs" (click)="deleteGroup(group)">{{ 'Delete' | translate }}</button>
            </td>
          </tr>
        }
      </tbody>
    </table>
  }

  <div class="card-footer">
    <app-pagination [service]="groupService" (paginate)="onPaginate($event)"></app-pagination>
  </div>
</div>

<ng-template #editorModal let-modal>
  <form (submit)="onSubmit($event)" class="form form-horizontal theme-form" [formGroup]="editorForm">
    <div class="modal-header">
      <h5 class="modal-title" id="modal-basic-title">{{'Group Editor' | translate}}</h5>
      <!-- <p>Search your membership database and find members by any of the parameters below</p> -->
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">

      </button>
    </div>
    <div class="modal-body">

      <div class="form-group row">
        <label class="col-sm-2 col-form-label">{{ 'Group Type' | translate}}</label>
        <div class="col-sm-10">
          <select class="form-select" formControlName="organisation_group_type_id">
            <option value="">{{ 'Select Group Type' | translate }}</option>
            @for (groupType of groupTypeService.getItems(); track groupType) {
              <option [value]="groupType.id">{{ groupType.name }}
              </option>
            }
          </select>

          @if (editorForm.controls.organisation_group_type_id?.errors?.required) {
            <div class="messages text-danger">
              <p class="m-b-0 m-t-5">{{'Group Type Required' | translate}}</p>
            </div>
          }
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label">{{ 'Name' | translate}}</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" placeholder="e.g. Default" formControlName="name" />
          @if (editorForm.controls.name?.errors?.required) {
            <div class="messages text-danger">
              <p class="m-b-0 m-t-5">{{'Name Required' | translate}}</p>
            </div>
          }
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label">{{ 'Leaders' | translate}}</label>
        <div class="col-sm-9" formArrayName="organisation_group_leaders">
          @for (leaderGroup of leadersArray.controls; track leaderGroup; let i = $index) {
            <div class="form-group row" [formGroup]="leaderGroup">
              <div class="col-6">
                <app-member-control formControlName="organisation_member_id" [returnMembershipId]="true"></app-member-control>
              </div>
              <div class="col-4">
                <input type="text" class="form-control" formControlName="role" placeholder="{{ 'Role' | translate }}" />
              </div>
              <div class="col-2">
                <button type="button" class="btn btn-danger btn-sm pe-3 ps-3" (click)="removeLeaderGroup(i)">
                  <i class="fa fa-trash-o me-0"></i>
                </button>
              </div>
            </div>
          }

        </div>
        <div class="col-sm-1 text-end">
          <button type="button" class="btn btn-primary btn-sm add-leader-btn pe-3 ps-1" (click)="addLeaderGroup()">
            <i class="fa fa-plus me-0"></i>
          </button>
        </div>
      </div>

    </div>

    <div class="modal-footer">
      @if (groupService?.saving) {
        <span class="m-r-20"><i class="fa fa-spin fa-circle-o-notch"></i>
        {{'Saving' | translate}}...
      </span>
    }

    <button type="submit" class="btn btn-primary">{{'Save Changes' | translate}}</button>
    <button type="button" class="btn btn-outline-danger"
    (click)="modal.close('Save click')">{{'Cancel' | translate}}</button>
  </div>
</form>
</ng-template>
