<div class="card">
  <div class="card-header">
    <h6 class="m-b-0"><i class="fa fa-list"></i> {{'Broadcast History' | translate}}</h6>
  </div>

  <div class="card-body">
    <ul class="list-group list-group-sp">
      <li class="list-group-item" *ngFor="let broadcast of broadcasts">
        <div class="m-b-15 row text-sm f-12">
          <div class="col-xl-4 font-weight-bold">{{ broadcast.sentTo }}</div>
          <div class="col-xl-4">{{ broadcast.sentTo }}</div>
          <div class="col-xl-4 text-right">Sent {{ broadcast.whenCreated() }}</div>
        </div>

        <div class="">{{ broadcast.message }}</div>

      </li>
    </ul>
  </div>
</div>
