<div class="row">
  <div class="col-10 offset-1">

    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-5">
          </div>
          <div class="col-7 text-right">
            <button class="btn btn-primary" (click)="showEditorModal()">
              <i class="fa fa-plus-circle"></i> {{ 'Add Source' | translate }}
            </button>
          </div>
        </div>
      </div>

      <div class="m-t-30 m-b-30 text-center" *ngIf="!contributionTypeService.fetching && !contributionTypeService.hasItems()">
        <img src="/assets/images/icons/circle-document.svg" height="180" class="m-b-30" />
        <h4 class="font-weight-bold">{{'No Income Sources Defined' | translate}}</h4>
        <h6>{{'Please create income sources to display them here' | translate}}</h6>
      </div>

      <div class="loader-box m-auto" *ngIf="contributionTypeService.fetching">
        <span class="rotate dashed colored"></span>
      </div>

      <table class="table table-striped table-bordered" *ngIf="contributionTypeService.hasItems() && !contributionTypeService.fetching">
        <thead>
          <tr>
            <th colspan="2">{{ 'Name' | translate }}</th>
            <th>{{ 'Member Specific' | translate }}</th>
            <th>{{ 'Fixed Amount Per Period' | translate }}</th>
            <th>{{ 'Entries' | translate }}</th>
            <th class="text-center">{{ 'Actions' | translate }}</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let type of contributionTypeService.getItems(); let row = index">
            <td>{{ contributionTypeService.pagingMeta.from + row }}.</td>
            <td>{{ type.name }}</td>
            <td>{{ type.member_required == 'Required' ? 'Yes' : 'No' | translate }}</td>
            <td>{{ type.fix_amount_per_period ? ( type.fixed_amount | currency : type.currency.currency_code ) : 'N/A' }}</td>
            <td>{{ type.contribution_count | number }}</td>
            <td class="text-center">
              <button type="button" class="btn btn-xs btn-info m-r-10" (click)="showEditorModal(type)">
                <i class="fa fa-pencil"></i> {{ 'Edit' | translate }}
              </button>
              <button type="button" class="btn btn-xs btn-danger" (click)="deleteType(type)">
                <i class="fa fa-pencil"></i> {{ 'Delete' | translate }}
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="card-footer">
        <app-pagination [service]="contributionTypeService" (paginate)="onPaginate($event)"></app-pagination>
      </div>
    </div>

  </div>
</div>

<ng-template #editorModal let-modal>
  <form (submit)="onSubmit($event)" class="form form-horizontal theme-form" [formGroup]="editorForm">
    <div class="modal-header">
      <h5 class="modal-title" id="modal-basic-title">{{'Income Source Editor' | translate}}</h5>
      <!-- <p>Search your membership database and find members by any of the parameters below</p> -->
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">

      <div class="form-group row">
        <label class="col-sm-3 col-form-label">{{ 'Name' | translate}}</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" placeholder="e.g. Default" formControlName="name" />
          <div class="messages text-danger" *ngIf="editorForm.controls.name?.errors?.required">
            <p class="m-b-0 m-t-5">{{'Name Required' | translate}}</p>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-3 col-form-label">{{ 'Description' | translate}}</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" placeholder="e.g. {{ 'Welfare contributions' | translate}}"
                 formControlName="description" />
          <div class="messages text-danger" *ngIf="editorForm.controls.description?.errors?.required">
            <p class="m-b-0 m-t-5">{{ 'Description Required' | translate}}</p>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-3 col-form-label">{{ 'Member Specific' | translate}}</label>
        <div class="col-sm-9">
          <ui-switch formControlName="member_required" class="align-middle m-r-10"
            checkedLabel="Yes" uncheckedLabel="No"></ui-switch>
          <span class='text-muted small align-middle'>
            {{'A member record is required for these entries' | translate}}
          </span>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-3 col-form-label">{{'Fixed Amount Per Period' | translate}}</label>
        <div class="col-sm-9">
          <ui-switch formControlName="fix_amount_per_period" class="align-middle m-r-10"></ui-switch>
          <span class='text-muted small align-middle'>
            {{'This will be the default category for adding and searching for members' | translate}}
          </span>
        </div>
      </div>

      <div class="form-group row animate fadeIn" [class]="{'hidden': !configuringFixedAmount}">
        <label class="col-sm-3 col-form-label">{{'Fixed Amount' | translate}}</label>
        <div class="col-sm-3">
          <select class="form-control" formControlName="currency_id">
            <option value="">{{ 'Select Currency' | translate }}</option>
            <option *ngFor="let currency of currencyService.getItems()" [value]="currency.id">
              {{ currency.currency_code }}
            </option>
          </select>
        </div>
        <div class="col-sm-3">
          <input type="number" class="form-control" formControlName="fixed_amount" placeholder="0.00" />
        </div>
      </div>

    </div>

    <div class="modal-footer">
      <span *ngIf="contributionTypeService?.requesting" class="m-r-20"><i class="fa fa-spin fa-circle-o-notch"></i>
        {{'Saving' | translate}}...
      </span>

      <button type="submit" class="btn btn-primary">{{'Save Changes' | translate}}</button>
      <button type="button" class="btn btn-outline-danger" (click)="modal.close('Save click')">{{'Cancel' | translate}}</button>
    </div>
  </form>
</ng-template>
