<!-- Browser uses and website visiter widget Start-->
<div class="row">
  <div class="col-sm-6">
    <app-subscription-status></app-subscription-status>
  </div>

  <div class="col-sm-6">
    <app-membership-overview></app-membership-overview>
  </div>

  <div class="col-sm-6">
    <app-sms-summary title="{{ 'Messaging' | translate }}"></app-sms-summary>
  </div>

  <div class="col-sm-6">
    <app-finance-trend title="{{ 'Track Your Income' | translate }}"></app-finance-trend>
  </div>

</div>

<!-- <div class="row">
  <div class="col-md-3">

  </div>

  <div class="col-md-6">
    <div class="card ">
      <div class="card-header bg-primary text-center">
        <h5 class="mb-0">Recent Notifications</h5>
      </div>
      <ul class="list-group list-group-flush">
        <a href="javascript:void;" class="list-group-item list-group-item-action">All members list imported
          successfully</a>
        <a href="javascript:void;" class="list-group-item list-group-item-action">You need to create a new membership
          now</a>
      </ul>
    </div>
  </div>
</div> -->
