<div class="card">
  <div class="card-header b-l-primary">
    <div class="row">
      <div class="col">
        <h6 class="font-weight-bold">{{ title | translate}}</h6>
      </div>
      <!-- end of col -->

      <div class="col-3">
        <app-select-year-control [(ngModel)]="yearValue" (selectedYearEvent)="searchByYear($event)">
        </app-select-year-control>
      </div>
      <!-- end of col -->
    </div>
    <!-- end of row -->
  </div>
  <div class="card-body chart-block">
    <app-loading-rotate-dashed *ngIf="!showChart && canAccessFinance()"></app-loading-rotate-dashed>
    <app-no-data-available *ngIf="showChart && !hasDataAvailable() && canAccessFinance()"></app-no-data-available>

    <div class="pb-3 text-center" *ngIf="!canAccessFinance()">
      <p class="f-16 pb-3 px-5 d-flex flex-column">
        <img src="/assets/images/illustrations/finance-features.svg" height="150" />
        <span>{{ 'Upgrade to the Pro Plan to track your income, make online payments and more' | translate }}</span>
      </p>
      <a class="btn btn-outline-success-2x" [routerLink]="['/organisation/settings/subscription-upgrade']">{{ 'Upgrade To Pro' | translate }}</a>
    </div>

    <canvas
      *ngIf="canShowWidgetData()"
      baseChart class="chart"
      [datasets]="chartData"
      [labels]="labels"
      [options]="lineGraphOptions"
      [legend]="true"
      [chartType]="lineGraphType"
    ></canvas>
  </div>
</div>
<!-- end of card -->
