@if (showOptional()) {
  <div class="form-group row" [formGroup]="filterGroup()">
    <div class="col-4">
      <select class="form-select" formControlName="field" (change)="setSelectedFilterField($event.target.value)">
        <option value="">{{ 'Select Field' | translate }}</option>
        @for (group of listFilters(); track group) {
          <optgroup [label]="group.name">
            @for (field of group.fields; track field) {
              <option [value]="field.id">{{ field.name | translate }}</option>
            }
          </optgroup>
        }
      </select>
      @if (filterGroup().controls.field?.errors?.required) {
        <div class="messages text-danger">
          <p class="m-b-0 m-t-5">{{'Field Required' | translate}}</p>
        </div>
      }
    </div>
    <div class="col-3">
      <select class="form-select" formControlName="condition">
        <option value="">{{ 'Select Condition' | translate }}</option>
        @for (field of selectedFilterField?.conditions; track field) {
          <option [value]="field.value">{{ field.label | translate }}</option>
        }
      </select>
      @if (filterGroup().controls.condition?.errors?.required) {
        <div class="messages text-danger">
          <p class="m-b-0 m-t-5">{{'Condition Required' | translate}}</p>
        </div>
      }
    </div>
    <div class="col-4">
      @if (selectedFilterField?.value_type == 'text') {
        <input type="text" class="form-control" placeholder="{{'Enter Value' | translate}}" formControlName="value" />
      }
      @if (selectedFilterField?.value_type == 'number') {
        <input type="number" class="form-control" placeholder="{{'Enter Value' | translate}}" formControlName="value" />
      }
      @if (selectedFilterField?.value_type == 'date') {
        <input type="date" class="form-control" placeholder="{{'YYYY-MM-DD' | translate}}" formControlName="value" />
      }
      @if (selectedFilterField?.value_type == 'option') {
        <select class="form-control" formControlName="value">
          <option value="">{{ 'Select Option' | translate }}</option>
          @for (option of selectedFilterField?.options; track option) {
            <option [value]="option.value">{{ option.label | translate }}</option>
          }
        </select>
      }
      @if (!selectedFilterField) {
        <div class="form-control-plaintext form-control"></div>
      }
      @if (filterGroup().controls.value?.errors?.required) {
        <div class="messages text-danger">
          <p class="m-b-0 m-t-5">{{'Value Required' | translate}}</p>
        </div>
      }
    </div>
    <div class="col-1 text-center">
      <button type="button" class="btn btn-danger btn-sm remove-filter-btn" title="{{ 'Remove Filter' | translate }}" (click)="remove.emit()">
        <i class="fa fa-trash-o"></i>
      </button>
    </div>
  </div>
}
