<button class="btn btn-sm btn-outline-secondary" *ngIf="!hasAdminAccount()" (click)="showAssignmentModal()">
  <i class="fa fa-fw fa-user-secret"></i> {{'Make Admin' | translate}}
</button>

<div class="f-12" *ngIf="hasAdminAccount()">
    Admin Role: <b class="text-primary">{{ getOrganisationAccount()?.organisation_role?.name }}</b>
</div>

<ng-template #makeAdminModal let-modal>
  <form (submit)="onSubmit($event)" class="form theme-form" [formGroup]="makeAdminForm">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{'Make Member An Admin' | translate}}</h4>

      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">

      </button>
    </div>
    <div class="modal-body">

      <div class="form-group row">
        <label class="col-4 col-form-label">{{'Name' | translate}}</label>
        <div class="col-8">
          <div class="form-control form-control-sm">
              {{ membership?.member?.firstThenLastName() }}
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-4 col-form-label">{{'Email' | translate}}</label>
        <div class="col-8">
          <div class="form-control form-control-sm">
              {{ membership?.member?.email }}
          </div>
          <div class="text-danger" *ngIf="!membership?.member?.email">
            <p>{{'Email required' | translate}}. {{'Please update member profile with an email before attempting to make them an admin' | translate}}</p>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-4 col-form-label">{{'Select Admin Role' | translate}}</label>
        <div class="col-8">
          <select class="form-control" formControlName="organisation_role_id">
            <option value="">{{'Select Role' | translate}}</option>
            <option *ngFor="let role of (roles$ | async)" [value]="role.id">{{ role.name | translate }}</option>
          </select>

          <div class="text-danger" *ngIf="makeAdminForm.controls.organisation_role_id?.errors?.required">
            <p>{{'Role required' | translate}}</p>
          </div>
        </div>
      </div>

      <!-- <div class="form-group row">
        <label class="col-4 col-form-label">User Account Present</label>
        <div class="col-8">
          <div class="form-control form-control-sm">
              {{ account?.id ? 'YES' : 'NO' }}
          </div>

          <div class="text-info" *ngIf="!account?.id">
            <p>Member does not have an account for memberz.org. They must create one as they become admins</p>
          </div>
        </div>
      </div> -->

    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary" [disabled]="!makeAdminForm.valid">Assign Role</button>
      <button type="button" class="btn btn-outline-danger" (click)="modal.close('Save click')">Cancel</button>
    </div>
  </form>
</ng-template>
