<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-md-6">
        <div class="btn-group btn-sm">
          <button class="btn btn-sm btn-outline-secondary" [ngClass]="isActiveIf('all')"
                  (click)="setSentStatusFilter('all')">{{'All' | translate}}</button>
          <button class="btn btn-sm btn-outline-warning" [ngClass]="isActiveIf('pending')"
                  (click)="setSentStatusFilter('pending')">{{'Pending' | translate}}</button>
          <button class="btn btn-sm btn-outline-success" [ngClass]="isActiveIf('success')"
                  (click)="setSentStatusFilter('success')">{{'Success' | translate}}</button>
          <button class="btn btn-sm btn-outline-danger" [ngClass]="isActiveIf('failed')"
                  (click)="setSentStatusFilter('failed')">{{'Failed' | translate}}</button>
        </div>
      </div>

      <div class="col-md-6 text-right">

        <button class="btn btn-secondary btn-sm m-r-10" (click)="smsMessenger.show()">
          <i class="fa fa-envelope"></i> {{'Send Message' | translate}}
        </button>

        <button class="btn btn-primary btn-sm" (click)="showSearchModal()">
          <i class="fa fa-search"></i> {{'Find Messages' | translate}}
        </button>
      </div>
    </div>

  </div>

  <div class="m-t-50 text-center" *ngIf="emptyDataset()">
    <h3>{{'No Search Results Found' | translate}}</h3>
    <p>{{'Please search for members to display results here' | translate}}</p>
  </div>

  <div class="loader-box m-auto" *ngIf="messageService.requesting">
    <span class="rotate dashed colored"></span>
  </div>

  <div *ngIf="dataAvailable()">
    <ul class="list-group list-group-flush">
      <li class="list-group-item" *ngFor="let message of messages">
        <div class="row">
          <div class="col-sm-9">
            <div class="media">
              <div class="media-left">
                <img [src]="message.member?.profile_photo?.thumb_url" alt="profile pic" class="img-80 rounded-circle pull-left" default="/assets/images/avtar/3.jpg" />
              </div>

              <div class="media-body">
                <div>
                  <b class="m-r-10">{{ message.member?.last_name }} {{ message.member?.first_name }}</b>
                  <span>({{ message.to }})</span>
                </div>
                <div class="message" [innerHTML]="message.message"></div>
              </div>
            </div>
          </div>

          <div class="col-sm-3">
            <label>{{ message.sent_at | date : 'medium' }}</label>
            <p class="f-12 font-weight-bold" [ngClass]="sentStatusClasses(message)">{{ message.sent_status }}</p>
          </div>
        </div>
      </li>
    </ul>
  </div>


  <div class="card-footer">
    <app-pagination [service]="messageService" (paginate)="onPaginate($event)"></app-pagination>
  </div>
</div>


<ng-template #searchModal let-modal>
  <form (submit)="onSearch($event)" class="form form-horizontal theme-form" [formGroup]="searchForm">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">
        <i class="fa fa-envelope"></i> Find Messages
      </h4>
      <!-- <p>Search your membership database and find members by any of the parameters below</p> -->
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">

      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Sent To</label>
        <div class="col-sm-9">
          <app-member-control formControlName="member_id"></app-member-control>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Sent Between</label>
        <div class="col-sm-4">
          <input type="date" class="form-control" formControlName="sent_at_gt" />
        </div>
        <label class="col-sm-1 col-form-label text-center">And</label>
        <div class="col-sm-4">
          <input type="date" class="form-control" formControlName="sent_at_lt" />
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Message Contains</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" placeholder="e.g. HI" formControlName="message_like" />
        </div>
      </div>

    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary">Search</button>
      <button type="reset" class="btn btn-outline-info">Clear</button>
      <button type="button" class="btn btn-outline-danger" (click)="modal.close('Save click')">Cancel</button>
    </div>
  </form>
</ng-template>

<app-sms-messenger #smsMessenger></app-sms-messenger>
