<div class="card">
  <div class="card-header b-l-info">
    <div class="row">
      <div class="col">
        <h6 class="font-weight-bold">Automated Birthday Message</h6>
      </div>
      <!-- end of col -->

      <div class="col-3">

      </div>
      <!-- end of col -->
    </div>
    <!-- end of row -->
  </div><!-- end of card-head -->
  <div class="card-body chart-block">
    <form (submit)="onSend($event)" [formGroup]="messageForm">
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">{{ 'Old Message' | translate }}</label>
        <div class="col-sm-9">
          <textarea rows="3" class="form-control" formControlName="oldMessage" readonly></textarea>
        </div>
      </div>

      <div class="form-group row mt-3">
        <label class="col-sm-3 col-form-label">{{ 'New Message' | translate }}</label>
        <div class="col-sm-9">
          <textarea rows="7" class="form-control" maxlength="480" placeholder="Enter new message here"
            formControlName="message" (keyup)="trackChars($event)" spellcheck="true"></textarea>

          <p class="m-t-10 small m-b-0">
            <span>{{ messages }} / 3 ({{ 480 - chars }} {{ 'Left' | translate }})</span>
            <span class="pull-right"><i class="fa fa-info-circle"></i> {{ '160 Chars Per SMS Message' | translate
              }}</span>
          </p>
        </div>
      </div><!-- end of form-group -->
      <div class="form-group row">
        <div class="col-sm-3"></div>
        <div class="col-sm-9">
          <button type="submit" class="btn btn-primary">{{ 'Send' | translate }}</button>
        </div>
      </div>
    </form>
  </div><!-- end of card-body -->
</div>
<!-- end of card -->