@if (alertMessage) {
  <ngb-alert [type]="alertType" (close)="alertMessage = null">
    {{ alertMessage }}
  </ngb-alert>
}

<div class="row">
  <div class="col-sm-8">
    @if (membership?.pendingApproval()) {
      <button class="btn btn-success btn-sm m-r-10"
        (click)="membershipService.approveRegistration(membership)">
        <i class="fa fa-check"></i> {{'Approve' | translate}}
      </button>
    }

    @if (membership?.pendingApproval()) {
      <button class="btn btn-danger btn-sm m-r-10"
        (click)="membershipService.rejectRegistration(membership)">
        <i class="fa fa-thumbs-down"></i> {{'Reject' | translate}}
      </button>
    }

    @if (membership?.approved) {
      <button class="btn btn-primary btn-sm m-r-10" (click)="editProfile()">
        <i class="fa fa-pencil"></i> {{'Edit Profile' | translate}}
      </button>
    }

    @if (membership?.approved) {
      <button class="btn btn-outline-primary btn-sm" (click)="viewMembershipCard()">
        <i class="fa fa-credit-card-alt"></i> {{'View Card' | translate}}
      </button>
    }
  </div>

  <div class="col-sm-4 text-end">
    <app-make-admin [membership]="membership"></app-make-admin>
  </div>
</div>

<app-membership-card-modal #membershipCardModal [membership]="membership"></app-membership-card-modal>
