<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <form class="form-horizontal" [formGroup]="paymentForm">
        <div class="card">

          <div class="card-header text-center">
            <h5>Configure Selected Package & Payment Method</h5>
          </div>

          <div class="card-body btn-group-showcase">

            <div class="row">
              <div class="col-md-10 offset-md-1 col-sm-12">

                <div class="form-group row">
                  <div class="col-form-label col-sm-3 pt-0">Selected Package</div>
                  <div class="col-sm-9">
                    <div class="form-control-static font-weight-bold">
                      {{ subTypeService?.getSelectedModel()?.description | uppercase }}
                    </div>
                  </div>
                </div>

                <div class="form-group row">
                  <div class="col-form-label col-sm-3">Subscription Period</div>
                  <div class="col-sm-9">
                    <div class="btn-group btn-group-toggle m-b-5" ngbRadioGroup name="radioBasic"
                         formControlName="subscription_length">
                      <label ngbButtonLabel class="btn-secondary">
                        <input ngbButton type="radio" [value]="1">
                        <i class="fa fa-check text-active"></i> 1 Month
                      </label>
                      <label ngbButtonLabel class="btn-secondary">
                        <input ngbButton type="radio" [value]="3">
                        <i class="fa fa-check text-active"></i> 3 Months
                      </label>
                      <label ngbButtonLabel class="btn-secondary">
                        <input ngbButton type="radio" [value]="6">
                        <i class="fa fa-check text-active"></i> 6 Months
                      </label>
                      <label ngbButtonLabel class="btn-secondary">
                        <input ngbButton type="radio" [value]="12">
                        <i class="fa fa-check text-active"></i> 12 Months
                      </label>
                    </div>

                    <div class="m-b-5">
                      <small class="text-muted">Save 16% when you choose the 6 or 12 month subscription.</small>
                    </div>

                    <div class="text-danger f-12" *ngIf="paymentForm.controls.subscription_length?.errors?.required">
                      <p>Please select subscription period</p>
                    </div>
                  </div>
                </div>

                <div class="form-group row">
                  <div class="col-form-label col-sm-3">Plan Cost</div>
                  <div class="col-sm-3">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span
                              class="input-group-text">{{ subTypeService?.getSelectedModel()?.currency?.currency_code }}</span>
                      </div>
                      <input type="text" class="form-control text-right" placeholder="0.00" aria-label="Plan Cost"
                             formControlName="plan_cost">
                    </div>
                  </div>
                </div>

                <div class="form-group row">
                  <div class="col-form-label col-sm-3">Plan Expires</div>
                  <div class="col-sm-3">
                    <input type="text" class="form-control text-right" readonly placeholder="Jan 19, 1970"
                           aria-label="Plan Expiration" formControlName="plan_expiration">
                  </div>
                </div>

              </div>
            </div>

          </div>

          <div class="card-footer text-center">
            <button type="button" class="btn btn-danger m-r-15" awPreviousStep>
              <i class="fa fa-long-arrow-left"></i> Previous Step
            </button>

            <button type="button" class="btn btn-primary m-r-15" awNextStep (click)="savePaymentInfo()">
              Next Step <i class="fa fa-long-arrow-right"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
