<div class="row">
  <div class="col-sm-10 offset-sm-1">
    <div class="card">
      <div class="card-body">
        <form class="form form-horizontal theme-form" [formGroup]="profileForm">
          <div class="form-group row">
            <div class="col-form-label col-sm-3">*  {{ "Type of Organisation" | translate }}</div>
            <div class="col-sm-9">
              <select class="form-select" formControlName="organisation_type_id">
                <option value="">Select Type</option>
                @for (type of orgTypes; track type) {
                  <option [value]="type.id">{{ type.name }}</option>
                }
              </select>

              @if (profileForm.controls.organisation_type_id?.errors?.required) {
                <div class="text-danger">
                  {{ "Organisation Type Required" | translate }}
                </div>
              }
            </div>
          </div>

          <div class="form-group row">
            <div class="col-form-label col-sm-3">* {{ "Name" | translate }}</div>
            <div class="col-sm-9">
              <input type="text" class="form-control" placeholder="e.g. Global Org Limited" formControlName="name" />

              @if (profileForm.controls.name?.errors?.required) {
                <div class="text-danger">
                  {{ "Name Of Organisation Required" | translate }}
                </div>
              }
            </div>
          </div>

          <div class="form-group row">
            <div class="col-form-label col-sm-3">* {{ "Email" | translate }}</div>
            <div class="col-sm-9">
              <input type="email" class="form-control" placeholder="e.g. info@email.com" formControlName="email" />

              @if (profileForm.controls.email?.errors?.required) {
                <div class="text-danger">
                  {{ "Email Required" | translate }}
                </div>
              }

              @if (profileForm.controls.email?.errors?.email) {
                <div class="text-danger">
                  {{ "Email Invalid" | translate }}
                </div>
              }
            </div>
          </div>

          <div class="form-group row">
            <div class="col-form-label col-sm-3">* {{ "Phone" | translate }}</div>
            <div class="col-sm-9">
              <ngx-intl-tel-input [preferredCountries]="preferredCountries" [enableAutoCountrySelect]="true"
                [enablePlaceholder]="true" [searchCountryFlag]="true"
                [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
                [selectFirstCountry]="true" [selectedCountryISO]="CountryISO.Ghana" [maxLength]="15"
                [phoneValidation]="true" [separateDialCode]="separateDialCode"
                [numberFormat]="PhoneNumberFormat.National" name="usename" formControlName="username">
              </ngx-intl-tel-input>

              @if (profileForm.controls.phone?.errors?.required) {
                <div class="text-danger">
                  {{ "Phone Number Required" | translate }}
                </div>
              }

              @if (profileForm.controls.phone?.errors?.phoneEmptyError) {
                <div class="messages text-danger">
                  <p>{{ "Phone number invalid" | translate }} </p>
                </div>
              }
            </div>
          </div>

          <div class="form-group row">
            <div class="col-form-label col-sm-3">* {{ "Country" | translate }}</div>
            <div class="col-sm-9">
              <select class="form-select" formControlName="country_id">
                <option value="">{{ "Select Country" | translate }}</option>
                @for (country of countries; track country) {
                  <option [value]="country.id">{{ country.name }}</option>
                }
              </select>

              @if (profileForm.controls.country_id?.errors?.required) {
                <div class="text-danger">
                  {{ "Country Required" | translate }}
                </div>
              }
            </div>
          </div>

          <div class="form-group row">
            <div class="col-form-label col-sm-3">{{ "Street Address" | translate }}</div>
            <div class="col-sm-9">
              <input type="text" class="form-control" placeholder="e.g. Accra" />
            </div>
          </div>

          <div class="form-group row">
            <div class="col-form-label col-sm-3">{{ "City" | translate }}</div>
            <div class="col-sm-9">
              <input type="text" class="form-control" placeholder="e.g. Accra" />
            </div>
          </div>

          <div class="form-group row">
            <div class="col-form-label col-sm-3">{{ "State / Region" | translate }}</div>
            <div class="col-sm-9">
              <input type="text" class="form-control" placeholder="e.g. Greater Accra" />
            </div>
          </div>

          <div class="form-group row">
            <div class="col-form-label col-sm-3">{{ "Post / Zip Code" | translate }}</div>
            <div class="col-sm-9">
              <input type="text" class="form-control" placeholder="e.g. 76543" />
            </div>
          </div>

          <div class="form-group row">
            <div class="col-form-label col-sm-3">{{ "Website Address" | translate }}</div>
            <div class="col-sm-9">
              <input type="url" class="form-control" placeholder="e.g. www.global.com" />
            </div>
          </div>

        </form>
      </div>

      <div class="card-footer text-center">
        <button type="button" class="btn btn-danger m-r-15" [routerLink]="['/portal/home']">
          <i class="fa fa-long-arrow-left"></i>  {{ "Cancel Creation" | translate }}
        </button>

        <button type="button" class="btn btn-primary m-r-15" awNextStep (preFinalize)="saveProfileInfo()">
          {{ "Next Step" | translate }} <i class="fa fa-long-arrow-right"></i>
        </button>
      </div>
    </div>

  </div>
</div>
