<div class="container-fluid">
  <div class="py-5 text-center wrapper">
    <h2 class="font-weight-bold">Membership Management Features</h2>
    <p class="text-muted f-18">All the right tools to manage your membership activities</p>
  </div>

  <div class="row bg-primary">
    <div class="col-sm-4 p-50 dk text-center">
      <p class="text-center">
        <span class="fa fa-stack-base fa-3x">
          <i class="fa fa-users text-white"></i>
        </span>
      </p>
      <div>
        <h3 class="text-center">Member Profiles</h3>
        <p>
          Collect, update and manage profile information about your members including photos, family and
          location information.
        </p>
      </div>
    </div>
    <div class="col-sm-4 p-50 text-center">
      <p class="text-center">
        <span class="fa fa-stack-base fa-3x">
          <i class="fa fa-mobile-phone text-white"></i>
        </span>
      </p>
      <div>
        <h3 class="text-center">Online Applications</h3>
        <p>Grow your community through online applications. Members with platform accounts can join with a single
          click.</p>
      </div>
    </div>
    <div class="col-sm-4 p-50 dk text-center">
      <p class="text-center">
        <span class="fa fa-stack-base fa-3x">
          <i class="fa fa-list-alt text-white"></i>
        </span>
      </p>
      <div>
        <h3 class="text-center">Groups &amp; Associations</h3>
        <p>Categorize all your members with custom groups and associations within your organisation.</p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row bg-white">
    <div class="col-sm-4 p-50 dk text-center">
      <p class="text-center">
        <span class="fa fa-stack-base fa-3x">
          <i class="fa fa-envelope text-primary"></i>
        </span>
      </p>
      <div>
        <h3 class="text-center">SMS Messaging</h3>
        <p>
          Send Bulk SMS messages to your contact with customizable Sender IDs and dynamic broadcast lists.
        </p>
      </div>
    </div>

    <div class="col-sm-4 p-50 dker text-center">
      <p class="text-center">
        <span class="fa fa-stack-base fa-3x">
          <i class="fa fa-credit-card text-primary"></i>
        </span>
      </p>
      <div>
        <h3 class="text-center">Online Payments</h3>
        <p>Connect your payment platforms and start receiving payments instantly from your members all around the
          world.</p>
      </div>
    </div>


    <div class="col-sm-4 p-50 text-center">
      <p class="text-center">
        <span class="fa fa-stack-base fa-3x">
          <i class="fa fa-money text-primary"></i>
        </span>
      </p>
      <div>
        <h3 class="text-center">Manage Finances</h3>
        Track revenue, pledges and donations, generate reports and send SMS reminders &amp; receipts to members
        instantly.
      </div>
    </div>
  </div>
</div>
