<ng-template #composerModal let-modal>
  <div class="modal-header">
    <h6 class="m-b-0"><i class="fa fa-pencil"></i> {{'Compose New Message' | translate}}</h6>

    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">

    </button>
  </div>

  <div class="modal-body">

    <form (submit)="onSubmit($event)" class="form theme-form" [formGroup]="broadcastForm">
      <div class="form-group row">
        <label class="col-xl-3 fw-bold">{{'Broadcast List' | translate}}</label>
        <div class="col-xl-4">
          <select class="form-select" formControlName="module_sms_broadcast_list_id">
            <option value="">{{'Select Broadcast List' | translate}}</option>
            @for (list of broadcastLists; track list) {
              <option [value]="list.id">{{ list.name }}</option>
            }
          </select>

          <div class="m-t-10 f-12">
            {{ 'Approx' | translate }} {{ selectedList?.size || 0 }} {{ 'contacts' | translate }}
          </div>
        </div>
        <div class="col-xl-1 text-center">
          <div class="form-control form-control-plaintext border-0 fw-bold">{{ 'or' | translate }}</div>
        </div>
        <div class="col-xl-4">
          <select class="form-select" formControlName="organisation_member_category_id">
            <option value="">{{'Select Membership Category' | translate}}</option>
            @for (category of categoryService.getItems(); track category) {
              <option [value]="category.id">{{ category.name }}</option>
            }
          </select>
        </div>
        <!-- <div class="col-xl-3">
        <a href="#" class="m-r-15 btn btn-xs btn-primary"><i class="fa fa-list"></i> {{ 'Preview List' | translate }}</a>
        <a href="#" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i> {{ 'Create New' | translate }}</a>
      </div> -->
    </div>

    <div class="form-group row">
      <div class="col-xl-3 fw-bold">{{'Message' | translate}}</div>
      <div class="col-xl-9">
        <input-sms-template-tag-control [textarea]="messageField"></input-sms-template-tag-control>

        <textarea #messageField rows="6" class="form-control form-control-sm" maxlength="480"
          placeholder="{{ 'Type Message Here' | translate }}" formControlName="message">
        </textarea>

        <div class="d-flex justify-content-between">
          @if (broadcastForm.controls.message?.errors?.required) {
            <div class="messages text-danger">
              <p class="m-b-0 m-t-5">{{'Message Required' | translate}}</p>
            </div>
          }
          <div class="text-end m-t-10 m-b-10 f-12 fw-bold">
            {{ charsEntered }} / {{ maxSmsChars }} {{ 'Chars Remaining' | translate }}
          </div>
        </div>



      </div>
    </div>

    <div class="form-group row">
      <div class="col-xl-3 fw-bold">{{ 'Message Preview(s)' | translate }}</div>
      <div class="col-xl-9">
        @if (previews.length == 0) {
          <div class="card b-l-primary">
            <div class="card-body f-12 p-3">
              {{ 'Message Previews Will Show Up Here' | translate }}
            </div>
          </div>
        }

        @for (preview of previews; track preview) {
          <div class="card border-3 b-l-primary m-b-15">
            <div class="card-body f-12 preview-pre p-3">
              {{ preview }}
            </div>
          </div>
        }

      </div>
    </div>

    <div class="form-group row">
      <div class="col-xl-3 fw-bold">{{'Send Message At' | translate}}</div>
      <div class="col-xl-3">
        <input type="date" class="form-control" placeholder="Scheduled Time" formControlName="send_at_date" [min]="getMinDateToSchedule()" />
        @if (broadcastForm.controls.send_at_date?.errors?.required) {
          <div class="messages text-danger">
            <p class="m-b-0 m-t-5">{{'Schedule Date Required' | translate}}</p>
          </div>
        }
      </div>

      <div class="col-xl-3">
        <input type="time" class="form-control" formControlName="send_at_time" />
        @if (broadcastForm.controls.send_at_time?.errors?.required) {
          <div class="messages text-danger">
            <p class="m-b-0 m-t-5">{{'Schedule Time Required' | translate}}</p>
          </div>
        }
      </div>
    </div>

    <div class="form-group row">
      <div class="col-xl-3">&nbsp;</div>
      <div class="col-xl-9">
        <button type="submit" class="btn btn-primary m-r-5">{{ saveBtnText | translate}}</button>
        <button type="button" class="btn btn-danger" (click)="cancelCompose()">{{'Cancel' | translate}}</button>
      </div>
    </div>
  </form>
</div>
</ng-template>
