<section class="profile-family">
  <div class="m-b-15">
    <button class="btn btn-sm btn-outline-primary" (click)="showEditor()">
      <i class="fa fa-plus-circle fa-2x m-r-10 middle"></i>
      <span>{{ "Add Anniversary" | translate }}</span>
    </button>
  </div>

  @if (anniversaryService.hasZeroItems() && !anniversaryService.fetching) {
    <div class="m-t-50 text-center">
      <h3>{{ "No Anniversary Added" | translate }}</h3>
      <p>{{ "Add an Anniversary to get started" | translate }}</p>
    </div>
  }

  @if (anniversaryService.fetching) {
    <div class="loader-box m-auto">
      <span class="rotate dashed colored"></span>
    </div>
  }


  <div class="row">
    <!-- Left Column -->
    <div class="col-12">
      @if (!anniversaryService.fetching && anniversaryService.hasItems()) {
        <table class="table table-bordered table-striped"
          >
          <thead>
            <tr>
              <th colspan="2">{{ "Type" | translate }}</th>
              <th width="40%">{{ "Date" | translate }}</th>
              <th>{{ 'Added' | translate }}</th>
              <th class="text-center">{{ 'Actions' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            @for (anniv of anniversaryService.getItems(); track anniv; let row = $index) {
              <tr>
                <td class="text-end">
                  {{ anniversaryService.pagingMeta.from + row }}.
                </td>
                <td>{{ anniv.organisation_anniversary?.name }}</td>
                <td>
                  <i class="fa fa-calendar"></i> {{ anniv.value | date: shortDate }}
                  @if (anniv.note) {
                    <span>
                      <br>
                        {{anniv.note}}
                      </span>
                    }
                  </td>
                  <td>{{ anniv.whenCreated() }}</td>
                  <td class="text-center">
                    <button href="#" class="btn btn-outline-info m-r-15" (click)="showEditor(anniv)">
                      <i class="fa fa-pencil"></i>
                    </button>
                    <button href="#" class="btn btn-outline-danger" (click)="deleteAnniversary(anniv)">
                      <i class="fa fa-trash-o"></i>
                    </button>
                  </td>
                </tr>
              }
            </tbody>
          </table>
        }
      </div>
    </div>
  </section>

  <ng-template #editorModal let-modal>
    <form (submit)="onSubmit($event)" class="form theme-form" [formGroup]="editorForm">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{'Add / Edit Anniversary' | translate}}</h4>

        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">

        </button>
      </div>
      <div class="modal-body">

        <div class="form-group row">
          <label class="col-form-label col-sm-4">{{'Anniversary Type' | translate}}</label>
          <div class="col-sm-8">
            <select class="form-select" formControlName="organisation_anniversary_id">
              <option value="">{{ 'Select Option' | translate }}</option>
              @for (anniversaryType of anniversaryTypeService.getItems(); track anniversaryType) {
                <option [value]="anniversaryType.id">
                  {{ anniversaryType.name }}
                </option>
              }
            </select>

            @if (editorForm.controls.organisation_anniversary_id?.errors?.required) {
              <div class="text-danger">
                <p class="m-b-0">{{'Anniversary type required' | translate}}</p>
              </div>
            }
          </div>
        </div>

        <div class="form-group row">
          <label class="col-form-label col-sm-4">{{'Date' | translate}}</label>
          <div class="col-sm-8">
            <input type="date" formControlName="value" class="form-control" />

            @if (editorForm.controls.value?.errors?.required) {
              <div class="text-danger">
                <p class="m-b-0">{{'Date of anniversary required' | translate}}</p>
              </div>
            }
          </div>
        </div>

        <div class="form-group row">
          <label class="col-form-label col-sm-4">{{'Note' | translate}}</label>
          <div class="col-sm-8">
            <textarea formControlName="note" class="form-control" spellcheck="true" rows="5"></textarea>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        @if (anniversaryService?.creating || anniversaryService?.updating) {
          <span class="m-r-20">
            <i class="fa fa-spin fa-circle-o-notch"></i>
            {{'Saving' | translate}}...
          </span>
        }

        <button type="submit" class="btn btn-primary" [disabled]="!editorForm.valid">{{ 'Save Changes' | translate }}</button>
        <button type="button" class="btn btn-outline-danger" (click)="modal.close('Save click')">{{ 'Cancel' | translate }}</button>
      </div>
    </form>
  </ng-template>
