<section class="profile-family">
  <div class="m-b-15">
    <button class="btn btn-sm btn-outline-primary" (click)="showEditor()">
      <i class="fa fa-plus-circle fa-2x m-r-10 middle"></i>
      <span>{{ "Add Anniversary" | translate }}</span>
    </button>
  </div>

  <div class="m-t-50 text-center" *ngIf="anniversaryService.hasZeroItems() && !anniversaryService.fetching">
    <h3>{{ "No Anniversary Added" | translate }}</h3>
    <p>{{ "Add an Anniversary to get started" | translate }}</p>
  </div>

  <div class="loader-box m-auto" *ngIf="anniversaryService.fetching">
    <span class="rotate dashed colored"></span>
  </div>


  <div class="row">
    <!-- Left Column -->
    <div class="col-12">
      <table class="table table-bordered table-striped"
             *ngIf="!anniversaryService.fetching && anniversaryService.hasItems()">
        <thead>
          <tr>
            <th colspan="2">{{ "Type" | translate }}</th>
            <th>{{ "Date" | translate }}</th>
            <th>{{ 'Added' | translate }}</th>
            <th class="text-center">{{ 'Actions' | translate }}</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let anniv of anniversaryService.getItems(); let row = index">
            <td class="text-end">
              {{ anniversaryService.pagingMeta.from + row }}.
            </td>
            <td>{{ anniv.organisation_anniversary?.name }}</td>
            <td>
              <i class="fa fa-calendar"></i> {{ anniv.value | date: shortDate }}
            </td>
            <td>{{ anniv.whenCreated() }}</td>
            <td class="text-center">
              <button href="#" class="btn btn-outline-info m-r-15" (click)="showEditor(anniv)">
                <i class="fa fa-pencil"></i>
              </button>

              <button href="#" class="btn btn-outline-danger" (click)="deleteAnniversary(anniv)">
                <i class="fa fa-trash-o"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>

<ng-template #editorModal let-modal>
  <form (submit)="onSubmit($event)" class="form theme-form" [formGroup]="editorForm">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{'Add / Edit Anniversary' | translate}}</h4>

      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">

      </button>
    </div>
    <div class="modal-body">

      <div class="form-group row">
        <label class="col-form-label col-sm-4">{{'Anniversary Type' | translate}}</label>
        <div class="col-sm-8">
          <select class="form-control" formControlName="organisation_anniversary_id">
            <option value="">{{ 'Select Option' | translate }}</option>
            <option *ngFor="let anniversaryType of anniversaryTypeService.getItems()" [value]="anniversaryType.id">
              {{ anniversaryType.name }}
            </option>
          </select>

          <div class="text-danger" *ngIf="editorForm.controls.organisation_anniversary_id?.errors?.required">
            <p class="m-b-0">{{'Anniversary type required' | translate}}</p>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-form-label col-sm-4">{{'Date' | translate}}</label>
        <div class="col-sm-8">
          <input type="date" formControlName="value" class="form-control" />

          <div class="text-danger" *ngIf="editorForm.controls.value?.errors?.required">
            <p class="m-b-0">{{'Date of anniversary required' | translate}}</p>
          </div>
        </div>
      </div>

    </div>
    <div class="modal-footer">
      <span *ngIf="anniversaryService?.creating || anniversaryService?.updating" class="m-r-20">
        <i class="fa fa-spin fa-circle-o-notch"></i>
        {{'Saving' | translate}}...
      </span>

      <button type="submit" class="btn btn-primary" [disabled]="!editorForm.valid">{{ 'Save Changes' | translate }}</button>
      <button type="button" class="btn btn-outline-danger" (click)="modal.close('Save click')">{{ 'Cancel' | translate }}</button>
    </div>
  </form>
</ng-template>
