<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-md-6">
        <div ngbDropdown class="d-inline-block" placement="bottom-left">
          <button class="btn btn-sm btn-outline-primary" id="withSelectedMenu" ngbDropdownToggle
                  [disabled]="!itemSelected()">{{'With Selected' | translate}}</button>
          <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="withSelectedMenu">
            <button class="dropdown-item" (click)="showChangeCategoryModal()">
              <i class="fa fa-fw fa-repeat"></i> {{'Change Category' | translate}}
            </button>
            <span class="dropdown-divider"></span>
            <button class="dropdown-item text-danger" (click)="deleteSelected()">
              <i class="fa fa-fw fa-trash-o"></i> {{'Delete' | translate}}
            </button>
          </div>
        </div>
      </div>

      <div class="col-md-6 text-right">
        <button class="btn btn-primary btn-sm m-r-10" (click)="showSearchModal()">
          <i class="fa fa-search"></i> {{'Find Members' | translate}}
        </button>

        <!-- <button class="btn btn-sm btn-outline-info m-r-10">
          <i class="fa fa-file-excel-o"></i> Export
        </button>

        <button class="btn btn-sm btn-outline-dark">
          <i class="fa fa-print"></i> Print
        </button> -->
      </div>
    </div>

  </div>

  <div class="m-t-50 text-center" *ngIf="emptyDataset()">
    <h3>{{'No Search Results Found' | translate}}</h3>
    <p>{{'Please search for members to display results here' | translate}}</p>
  </div>

  <div class="loader-box m-auto" *ngIf="organisationMemberService.requesting">
    <span class="rotate dashed colored"></span>
  </div>

  <table class="table table-bordered table-hover table-striped" *ngIf="dataAvailable()">
    <thead>
      <tr>
        <th class="text-center">
          <input type="checkbox" class="checkbox" [checked]="allSelected" (change)="toggleAllSelected()">
        </th>
        <th>{{'No' | translate}}.</th>
        <th>{{'Member Name' | translate}}</th>
        <th>{{'Membership Category' | translate}}</th>
        <th class="text-right">{{'Actions' | translate}}</th>
      </tr>
    </thead>


    <tbody>
      <tr *ngFor="let profile of members">
        <td class="text-center">
          <input type="checkbox" class="checkbox" [checked]="profile.selected" (change)="toggleSelected(profile)" />
        </td>
        <td>{{ profile.organisation_no }}</td>
        <td>{{ profile.member?.last_name }} {{ profile.member?.first_name }} </td>
        <td>{{ profile.organisation_member_category?.name }}</td>

        <td class="text-right">
          <button class="btn btn-xs btn-primary m-r-15" (click)="viewProfile(profile)">
            <i class="fa fa-file"></i> {{'View' | translate}}
          </button>

          <button class="btn btn-xs btn-info m-r-15" (click)="editProfile(profile)">
            <i class="fa fa-pencil"></i> {{'Edit' | translate}}
          </button>

          <button class="btn btn-xs btn-danger" (click)="deleteProfile(profile)">
            <i class="fa fa-trash-o"></i> {{'Delete' | translate}}
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="card-footer">
    <app-pagination [service]="organisationMemberService" (paginate)="onPaginate($event)"></app-pagination>
  </div>
</div>


<ng-template #searchModal let-modal>
  <form (submit)="onSearch($event)" class="form form-horizontal theme-form" [formGroup]="searchForm">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{'Find Members' | translate}}</h4>
      <!-- <p>Search your membership database and find members by any of the parameters below</p> -->
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">

      <div class="form-group row">
        <label class="col-sm-4 col-form-label">{{'Member Category' | translate}}</label>
        <div class="col-sm-8">
          <select class="form-control" formControlName="organisation_member_category_id">
            <option value="">{{'Select Category' | translate}}</option>
            <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-4 col-form-label">{{'Membership No' | translate}}</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" placeholder="e.g. A/195" formControlName="organisation_no" />
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-4 col-form-label">{{'First Name' | translate}}</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" placeholder="e.g. Frank" formControlName="first_name_like" />
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-4 col-form-label">{{'Last Name' | translate}}</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" placeholder="e.g. Jones" formControlName="last_name_like" />
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-4 col-form-label">{{'Email' | translate}}</label>
        <div class="col-sm-8">
          <input type="email" class="form-control" placeholder="e.g. joe@mail.com" formControlName="email_like" />
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-4 col-form-label">{{'Mobile Number' | translate}}</label>
        <div class="col-sm-8">
          <input type="email" class="form-control" placeholder="e.g. 0245000000" formControlName="mobile_number_like" />
        </div>
      </div>

    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary">{{'Search' | translate}}</button>
      <button type="reset" class="btn btn-outline-info">{{'Clear' | translate}}</button>
      <button type="button" class="btn btn-outline-danger" (click)="modal.close('Save click')">{{'Cancel' | translate}}</button>
    </div>
  </form>
</ng-template>


<ng-template #changeCategoryModal let-modal>
  <form (submit)="onChangeCategory($event)" class="form theme-form" [formGroup]="changeCategoryForm">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{'Change Member Category' | translate}}</h4>
      <!-- <p>Search your membership database and find members by any of the parameters below</p> -->
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">

      <div class="form-group">
        <label class="col-12 col-form-label">{{'New Member Category' | translate}}</label>
        <div class="col-12">
          <select class="form-control" formControlName="organisation_member_category_id">
            <option value="">{{'Select Category' | translate}}</option>
            <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
          </select>
        </div>
      </div>

    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary">{{'Change Category' | translate}}</button>
      <button type="button" class="btn btn-outline-danger" (click)="modal.close('Save click')">{{'Cancel' | translate}}</button>
    </div>
  </form>
</ng-template>
