<div class="page-wrapper">
  <div class="auth-bg">
    <div class="authentication-box">
      <div class="text-center">
        <a href="#" routerLink="/">
          <img src="assets/images/logo_500_dk_lc.png" alt="" width="250" />
        </a>
      </div>
      <div class="card mt-4">
        <div class="card-body">
          <div>
            <h4 class="text-center">{{ "Security Verification" | translate }}</h4>
            <h6>
              {{ "To secure your account, please complete the following verification." | translate }}
            </h6>
          </div>
          <form class="theme-form" [formGroup]="twoFaCheckForm">
            <div class="form-group">
              <label class="col-form-label pt-0">{{ "Verification code." | translate }}</label>
              <input class="form-control" formControlName="code" type="code" />
              <p><small>{{ 'Enter the 6-digit code sent to your email or mobile number.' | translate }}</small></p>
              @if (
                twoFaCheckForm.controls.code.touched &&
                twoFaCheckForm.controls.code.errors?.required
                ) {
                <div class="text text-danger mt-1">
                  {{ "2FA Code Required" | translate }}
                </div>
              }
            </div>
            <div class="form-group">
              <button class="btn btn-primary btn-block btn-lg" [class.loader--text]="authService.showLoader"
                [disabled]="!twoFaCheckForm.valid || authService.showLoader" (click)="validate()" type="submit">
                <span>{{ authService.showLoader ? "" : ("Submit" | translate) }}</span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<app-tawk-chat></app-tawk-chat>
