@import "../../../../assets/scss/theme/variables";

.header {
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
  width: 100%;
  position: sticky;
  padding: 20px;

  .menu-icon {
    display: none;
  }

  nav {
    div a {
      padding: 10px 15px;
      text-decoration: none;
      font-size: 1.1em;
      font-weight: 600;
      color: white;
    }

    div a:hover {
      background-color: #ffffff;
      border-radius: 10px;
      color: rgb(44, 44, 44);
    }
  }
}

@media only screen and (max-width: 600px) {
  .header {

    .nav-section {
      .menu-icon.opener {
        display: block;
      }

      nav {
        display: none;
      }
    }


    .nav-section.open {
      .menu-icon {
        position: absolute;
        right: 20px;
        z-index: 10;

        &.opener { display: none; }
        &.closer { display: block; }
      }

      nav {
        display: block;
        padding-top: 50px;
        position: absolute;
        width: 100%;
        background-color: white;
        right: 0px;
        top: -10px;
        z-index: 0;

       div a {
          display: block;
          padding: 20px 30px;
          text-align: right;
          font-size: 1.2em;
          border-bottom: solid 1px $primary-color;
          color: $primary-color;
        }
      }
    }


  }
}
