<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-md-6">
        <div ngbDropdown class="d-inline-block" placement="bottom-left">
          <button class="btn btn-sm btn-outline-primary" id="withSelectedMenu" ngbDropdownToggle
                  [disabled]="!itemSelected()">{{'With Selected' | translate}}</button>
          <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="withSelectedMenu">
            <button class="dropdown-item" (click)="approveSelected()">
              <i class="fa fa-fw fa-repeat"></i> {{'Approve' | translate}}
            </button>
            <span class="dropdown-divider"></span>
            <button class="dropdown-item text-danger" (click)="rejectSelected()">
              <i class="fa fa-fw fa-trash-o"></i> {{'Reject' | translate}}
            </button>
          </div>
        </div>
      </div>

      <div class="col-md-6 text-right">
      </div>
    </div>

  </div>

  <div class="m-t-30 m-b-30 text-center" *ngIf="emptyDataset()">
    <img src="/assets/images/icons/circle-document.svg" height="180" class="m-b-30" />
    <h4 class="font-weight-bold">{{'No Registrations Pending Approval Found' | translate}}</h4>
    <h6>{{'Create and share some registration forms to start get data into this view' | translate}}</h6>
  </div>

  <div class="loader-box m-auto" *ngIf="membershipService.requesting">
    <span class="rotate dashed colored"></span>
  </div>

  <table class="table table-bordered table-hover" *ngIf="dataAvailable()">
    <thead>
      <tr>
        <th class="text-center">
          <input type="checkbox" class="checkbox" [checked]="allSelected" (change)="toggleAllSelected()">
        </th>
        <!-- <th>{{'No' | translate}}.</th> -->
        <th colspan="2">{{'Member Name' | translate}}</th>
        <th>{{'Membership Category' | translate}}</th>
        <th>{{'Mobile Number' | translate}}</th>
        <th class="text-right">{{'Registered' | translate}}</th>
        <th class="text-center">{{'Actions' | translate}}</th>
      </tr>
    </thead>


    <tbody>
      <tr *ngFor="let profile of members; let row = index">
        <td class="text-center">
          <input type="checkbox" class="checkbox" [checked]="profile.selected" (change)="toggleSelected(profile)" />
        </td>
        <!-- <td>{{ profile.organisation_no }}</td> -->
        <td class="text-right">{{ membershipService.pagingMeta.from + row }}.</td>
        <td>
          <a viewProfile [membership]="profile" href="javascript:void(0)"> <!--[routerLink]="['/organisation/memberships', { outlets: { flyout: ['view', profile.id] } }]"-->
            {{ profile.member?.last_name }} {{ profile.member?.first_name }}
          </a>
        </td>
        <td>{{ profile.organisation_member_category?.name }}</td>
        <td>{{ profile.member?.mobile_number ||  'N/A' }}</td>
        <td class="text-right">{{ profile.whenCreated() }}</td>

        <td class="text-center">
          <button class="btn btn-xs btn-primary m-r-15" (click)="viewProfile(profile)">
            <i class="fa fa-user"></i> {{'View' | translate}}
          </button>

          <button class="btn btn-xs btn-success m-r-15" *ngIf="profile.pendingApproval()" (click)="membershipService.approveRegistration(profile)">
            <i class="fa fa-check"></i> {{'Approve' | translate}}
          </button>

          <button class="btn btn-xs btn-danger" *ngIf="profile.pendingApproval()" (click)="membershipService.rejectRegistration(profile)">
            <i class="fa fa-thumbs-down"></i> {{'Reject' | translate}}
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="card-footer">
    <app-pagination [service]="membershipService" (paginate)="onPaginate($event)"></app-pagination>
  </div>
</div>
