<div class="card">
  <div class="card-header">
    <h6>SMS Account History</h6>
  </div>

  <div class="m-t-50 text-center" *ngIf="topups && topups.length == 0">
    <h3>No Search Results Found</h3>
    <p>Please search for members to display results here</p>
  </div>

  <div class="loader-box m-auto" *ngIf="smsAccountTopupService.requesting">
    <span class="rotate dashed colored"></span>
  </div>

  <table class="table table-bordered table-hover table-striped" *ngIf="topups && topups.length > 0">
    <thead>
      <tr>
        <th>Date</th>
        <th>Description</th>
        <th class="text-right">Credits</th>
        <th class="text-right">Cost</th>
        <th class="text-center">Status</th>
        <th class="text-center">Actions</th>
      </tr>
    </thead>


    <tbody>
      <tr *ngFor="let topup of topups">
        <td class="text-center">
          {{ topup.lastModified() }}
        </td>
        <td>{{ topup.invoice_description }}</td>
        <td class="text-right">{{ topup.credit_amount | number }}</td>
        <td class="text-right">{{ topup.cost | currency : topup.currency.currency_code }}</td>
        <td class="text-center">
          <span class="badge badge-success" *ngIf="topup.credited">Credited</span>
          <span class="badge badge-warning" *ngIf="!topup.credited">Pending</span>
        </td>
        <td class="text-center">
          <button class="btn btn-xs btn-info" (click)="invoiceModal.showInvoice(topup.organisation_invoice_id)">
            <i class="fa fa-file-text"></i> View Invoice
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="card-footer">
    <app-pagination [service]="smsAccountTopupService" (paginate)="onPaginate($event)"></app-pagination>
  </div>
</div>


<app-invoice #invoiceModal></app-invoice>
